openapi: 3.1.0
info:
  title: Wingspan Payments 1099 Operations Invoice Management API
  description: Payments
  termsOfService: https://www.wingspan.app
  contact:
    name: Wingspan API Support
    url: https://www.wingspan.app
    email: support@wingspan.app
  license:
    name: UNLICENSED
    url: https://UNLICENSED
  version: 1.0.0-oas3.1
servers:
- url: https://api.wingspan.app
  description: Wingspan's Payments API in Production
  x-speakeasy-server-id: prod
- url: https://stagingapi.wingspan.app
  description: Wingspan's Payments API in Staging
  x-speakeasy-server-id: staging
security:
- BearerAuth: []
tags:
- name: Invoice Management
  description: Covers endpoints related to invoice creation, retrieval, and management. This includes both member and client invoices, along with specific actions like sending invoices by email and managing invoice templates.
paths:
  /payments/invoice:
    get:
      summary: Retrieve All Member Invoices
      operationId: getMemberInvoices
      x-speakeasy-name-override: get_member
      tags:
      - Invoice Management
      description: Fetch a complete list of invoices associated with members, providing a comprehensive overview of all member-related billing details.
      responses:
        '200':
          description: A list of invoices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
    post:
      summary: Initiate New Invoice for a Member
      operationId: createInvoice
      x-speakeasy-name-override: create
      tags:
      - Invoice Management
      description: Facilitates the creation of a new invoice for a member using the provided invoice details. Useful for adding new billing records.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceCreateRequest'
      responses:
        '200':
          description: An invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
  /payments/invoice/{id}:
    get:
      parameters:
      - in: path
        required: true
        name: id
        description: Unique identifier
        schema:
          type: string
      summary: Fetch Invoice by ID
      operationId: getInvoice
      x-speakeasy-name-override: get
      tags:
      - Invoice Management
      description: Retrieve the specifics of an individual invoice associated with a member using its unique ID. Ideal for diving into invoice details.
      responses:
        '200':
          description: An invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
    patch:
      parameters:
      - in: path
        required: true
        name: id
        description: Unique identifier
        schema:
          type: string
      summary: Modify Existing Invoice Details
      operationId: updateInvoice
      x-speakeasy-name-override: update
      tags:
      - Invoice Management
      description: Allows updates to the details of an existing member invoice using its unique ID. Useful for making corrections or updates to billing records.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceUpdateRequest'
      responses:
        '200':
          description: An invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
    delete:
      parameters:
      - in: path
        required: true
        name: id
        description: Unique identifier
        schema:
          type: string
      summary: Remove Invoice Record by ID
      operationId: deleteInvoice
      x-speakeasy-name-override: delete
      tags:
      - Invoice Management
      description: Enables the deletion of a specific member's invoice using its unique ID, helping in maintaining accurate billing records.
      responses:
        '200':
          description: An invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
  /payments/client/invoice:
    get:
      summary: Retrieve All Invoices Generated by a Client
      operationId: listGeneratedInvoices
      x-speakeasy-name-override: list
      tags:
      - Invoice Management
      description: Fetch a comprehensive list of invoices that have been generated by a client, offering an overview of all client-related billing records.
      responses:
        '200':
          description: A list of Client Created Invoices
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientInvoice'
    post:
      summary: Generate a New Invoice on Behalf of the Client
      operationId: createGeneratedInvoice
      x-speakeasy-name-override: create_generated
      tags:
      - Invoice Management
      description: Enables the creation of a new invoice on behalf of a client using the provided details, facilitating new billing records.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientInvoiceCreateRequest'
      responses:
        '200':
          description: A client created invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvoice'
  /payments/client/invoice/{id}:
    get:
      parameters:
      - in: path
        required: true
        name: id
        description: Unique identifier
        schema:
          type: string
      summary: Fetch Specific Client-Generated Invoice by ID
      operationId: getGeneratedInvoice
      x-speakeasy-name-override: get_generated
      tags:
      - Invoice Management
      description: Retrieve detailed information of an individual invoice created by a client using its unique ID for in-depth billing analysis.
      responses:
        '200':
          description: A client created invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvoice'
    patch:
      parameters:
      - in: path
        required: true
        name: id
        description: Unique identifier
        schema:
          type: string
      summary: Modify an Existing Client-Generated Invoice
      operationId: updateGeneratedInvoice
      x-speakeasy-name-override: update_generated
      tags:
      - Invoice Management
      description: Allows for modifications to a client-generated invoice using its unique ID, ensuring billing details remain current and accurate.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientInvoiceUpdateRequest'
      responses:
        '200':
          description: A client created invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvoice'
  /payments/client/invoice/{invoice_id}/pay:
    post:
      parameters:
      - in: path
        required: true
        name: invoice_id
        description: Unique identifier of an invoice
        schema:
          type: string
      summary: Execute Payment for a Client-Generated Invoice
      operationId: executeClientInvoicePayment
      x-speakeasy-name-override: execute
      tags:
      - Invoice Management
      description: Process a payment for a specific client-generated invoice using the provided details, ensuring the invoice is marked as settled.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayRequest'
      responses:
        '200':
          description: A client created invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvoice'
  /payments/invoice-template:
    get:
      summary: Retrieve all available invoice templates
      operationId: listInvoiceTemplates
      x-speakeasy-name-override: list_templates
      tags:
      - Invoice Management
      description: Fetches a comprehensive list of all invoice templates in the system.
      responses:
        '200':
          description: At list of invoice templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/InvoiceTemplate'
    post:
      summary: Create a new invoice template
      operationId: createInvoiceTemplate
      x-speakeasy-name-override: create_template
      tags:
      - Invoice Management
      description: Creates a new invoice template based on the provided details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceTemplateCreateRequest'
      responses:
        '200':
          description: A recurring invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceTemplate'
  /payments/invoice-template/{id}:
    get:
      parameters:
      - in: path
        required: true
        name: id
        description: Unique identifier
        schema:
          type: string
      summary: Retrieve a specific invoice template by ID
      operationId: getInvoiceTemplate
      x-speakeasy-name-override: get_template
      tags:
      - Invoice Management
      description: Fetches details of the invoice template corresponding to the provided unique identifier.
      responses:
        '200':
          description: A recurring invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceTemplate'
    patch:
      parameters:
      - in: path
        required: true
        name: id
        description: Unique identifier
        schema:
          type: string
      summary: Modify details of an existing invoice template
      operationId: updateInvoiceTemplate
      x-speakeasy-name-override: update_template
      tags:
      - Invoice Management
      description: Updates details of the specified invoice template based on the provided information.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceTemplateUpdateRequest'
      responses:
        '200':
          description: A recurring invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceTemplate'
    delete:
      parameters:
      - in: path
        required: true
        name: id
        description: Unique identifier
        schema:
          type: string
      summary: Remove a specific invoice template
      operationId: deleteInvoiceTemplate
      x-speakeasy-name-override: delete_template
      tags:
      - Invoice Management
      description: Deletes the invoice template associated with the provided unique identifier.
      responses:
        '200':
          description: A recurring invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceTemplate'
  /payments/client/invoice-template:
    get:
      summary: Retrieve all client-generated invoice templates
      operationId: listClientInvoiceTemplates
      x-speakeasy-name-override: list_client
      tags:
      - Invoice Management
      description: Fetches a comprehensive list of all invoice templates created by clients in the system.
      responses:
        '200':
          description: A list of Client Created Invoice Template
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientInvoiceTemplate'
    post:
      summary: Create a new client-generated invoice template
      operationId: createClientInvoiceTemplate
      x-speakeasy-name-override: create_client
      tags:
      - Invoice Management
      description: Allows clients to create a new invoice template based on the provided details.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientInvoiceTemplateCreateRequest'
      responses:
        '200':
          description: A client created invoiceTemplate (recurring Invoice)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvoiceTemplate'
  /payments/client/invoice-template/{id}:
    get:
      parameters:
      - in: path
        required: true
        name: id
        description: Unique identifier
        schema:
          type: string
      summary: Fetch a specific client-generated invoice template by ID
      operationId: getClientInvoiceTemplate
      x-speakeasy-name-override: get_client
      tags:
      - Invoice Management
      description: Provides details of the client-generated invoice template associated with the provided unique identifier.
      responses:
        '200':
          description: A client created invoiceTemplate (recurring Invoice)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvoiceTemplate'
    patch:
      parameters:
      - in: path
        required: true
        name: id
        description: Unique identifier
        schema:
          type: string
      summary: Modify a client-generated invoice template
      operationId: updateClientInvoiceTemplate
      x-speakeasy-name-override: update_client
      tags:
      - Invoice Management
      description: Updates the specified client-generated invoice template with the provided modifications.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientInvoiceTemplateUpdateRequest'
      responses:
        '200':
          description: A client created invoiceTemplate (recurring Invoice)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvoiceTemplate'
  /payments/invoice/{invoice_id}/generate:
    post:
      parameters:
      - in: path
        required: true
        name: invoice_id
        description: Unique identifier of an invoice
        schema:
          type: string
      summary: Generate a PDF for a specific invoice
      operationId: generateSpecificInvoice
      x-speakeasy-name-override: generate
      tags:
      - Invoice Management
      description: This endpoint allows for the dynamic generation of a PDF document for a given invoice, identified by its unique ID.
      responses:
        '200':
          description: Response from generation of invoice pdf
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoicePdfGenerationResponse'
  /payments/invoice/{invoice_id}/send:
    post:
      parameters:
      - in: path
        required: true
        name: invoice_id
        description: Unique identifier of an invoice
        schema:
          type: string
      summary: Send an invoice by email
      operationId: sendInvoiceEmail
      x-speakeasy-name-override: send
      tags:
      - Invoice Management
      description: Use this endpoint to send an invoice by email using its unique ID for identification.
      responses:
        '200':
          description: An invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
  /payments/invoice/{invoice_id}/refund:
    post:
      parameters:
      - in: path
        required: true
        name: invoice_id
        description: Unique identifier of an invoice
        schema:
          type: string
      summary: Refund a deposited invoice
      operationId: refundDepositedInvoice
      x-speakeasy-name-override: refund
      tags:
      - Invoice Management
      description: Use this endpoint to refund a specific amount of a deposited invoice.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceRefundRequest'
      responses:
        '200':
          description: An invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
  /payments/client/invoice/{invoice_id}/fees:
    get:
      parameters:
      - in: path
        required: true
        name: invoice_id
        description: Unique identifier of an invoice
        schema:
          type: string
      summary: Retrieve Fees Associated with a Client's Invoice
      operationId: getInvoiceFees
      x-speakeasy-name-override: get_fees
      tags:
      - Invoice Management
      description: Obtain a detailed breakdown of all the fees associated with a specific client's invoice, identified by its unique ID.
      responses:
        '200':
          description: Fees on Invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceFeeCalculation'
  /payments/invoice/test/create:
    post:
      summary: Generate Test Invoice for a Client
      operationId: generateTestInvoice
      x-speakeasy-name-override: generate_test
      tags:
      - Invoice Management
      description: Use this endpoint to create a test invoice for testing and validation purposes. This invoice will mimic a client's real invoice.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestInvoiceCreate'
      responses:
        '200':
          description: A client created invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientInvoice'
components:
  schemas:
    InvoiceTemplateCreateRequest:
      type: object
      properties:
        invoiceData:
          $ref: '#/components/schemas/InvoiceDataCreateRequest'
        status:
          type: string
          enum:
          - Active
          - Draft
          - Expired
          - Cancelled
        dueInDays:
          type:
          - number
          - 'null'
        frequency:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Frequency'
        isSchedulingOnly:
          type:
          - boolean
          - 'null'
        labels:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/LabelsDictionary'
        scheduleDates:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ScheduleDate'
        sendEmails:
          type:
          - boolean
          - 'null'
      required:
      - invoiceData
      - status
    InvoicePayoutDestination:
      type: object
      properties:
        amount:
          type: number
        description:
          type: string
        destinationType:
          type: string
          enum:
          - Account
          - Card
          - InternalAccount
          - PaperCheck
          - WeGift
        payoutMethod:
          type: string
          enum:
          - Standard
          - Instant
          - Expedited
          - Check
          - ECheck
        percentage:
          type: number
        transferId:
          type: string
        brand:
          type:
          - string
          - 'null'
        destinationId:
          type:
          - string
          - 'null'
        last4:
          type:
          - string
          - 'null'
      required:
      - amount
      - description
      - destinationType
      - payoutMethod
      - percentage
      - transferId
    InvoiceRefundDestination:
      type: object
      properties:
        amount:
          type: number
        createdAt:
          type: string
        destinationType:
          type: string
          enum:
          - Account
          - Card
          - InternalAccount
          - PaperCheck
          - WeGift
        events:
          $ref: '#/components/schemas/InvoiceRefundEvents'
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        refundType:
          type: string
          enum:
          - Account
          - TaxWithholding
          - Wallet
          - Card
        updatedAt:
          type: string
        destinationId:
          type:
          - string
          - 'null'
        stripeTransferId:
          type:
          - string
          - 'null'
        transactionId:
          type:
          - string
          - 'null'
        transferId:
          type:
          - string
          - 'null'
      required:
      - amount
      - createdAt
      - destinationType
      - events
      - labels
      - refundType
      - updatedAt
    MemberClientForm1099Balances:
      type: object
      properties:
        adjustments:
          type: number
        deliveryMethod:
          type: string
          enum:
          - Electronic
          - Mail
        exclusionReason:
          type: string
          enum:
          - BelowThreshold
          - CompanyStructure
          - NonUsEntity
        form1099Generated:
          type: boolean
        paymentProcessingFees:
          type: number
        platformIncome:
          type: number
        status:
          type: string
          enum:
          - Ready
          - NeedsActionInfo
          - NeedsActionDispute
          - Submitted
          - Rejected
          - Accepted
          - Excluded
        type:
          type: string
          enum:
          - NEC
        correction:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Form1099Correction'
        dispute:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/8a9c6cb49482a98cdd603ff09858cdc3e5ef6ad9807c876c4161d925a96694a5'
        events:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Form1099Events'
        taxForm:
          oneOf:
          - type: 'null'
          - type: object
        taxFormId:
          type:
          - string
          - 'null'
      required:
      - adjustments
      - deliveryMethod
      - exclusionReason
      - form1099Generated
      - paymentProcessingFees
      - platformIncome
      - status
      - type
    Frequency:
      type: object
      properties:
        startDate:
          type: string
        daily:
          type:
          - boolean
          - 'null'
        dayInInterval:
          type:
          - number
          - 'null'
        endDate:
          type:
          - string
          - 'null'
        every:
          type:
          - number
          - 'null'
        interval:
          type:
          - string
          - 'null'
          enum:
          - Week
          - Month
          - null
        twicePerMonth:
          type:
          - boolean
          - 'null'
      required:
      - startDate
    InvoiceAppliedDeductions:
      type: object
      properties:
        amount:
          type: number
        deductionId:
          type: string
        name:
          type: string
        transferId:
          type:
          - string
          - 'null'
      required:
      - amount
      - deductionId
      - name
    InvoiceCollaborator:
      type: object
      properties:
        amount:
          type: number
        currency:
          type: string
          enum:
          - USD
          - CAD
        description:
          type: string
        memberClientId:
          type: string
        invoiceId:
          type:
          - string
          - 'null'
      required:
      - amount
      - currency
      - description
      - memberClientId
    InvoiceTemplateUpdateRequest:
      type: object
      properties:
        accountId:
          type:
          - string
          - 'null'
        autoPaymentRequired:
          type:
          - boolean
          - 'null'
        dueInDays:
          type:
          - number
          - 'null'
        frequency:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/FrequencyUpdate'
        invoiceData:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceUpdateRequest'
        isSchedulingOnly:
          type:
          - boolean
          - 'null'
        labels:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/LabelsDictionary'
        paymentMethodId:
          type:
          - string
          - 'null'
        scheduleDates:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ScheduleDateUpdate'
        sendEmails:
          type:
          - boolean
          - 'null'
        status:
          type:
          - string
          - 'null'
          enum:
          - Active
          - Draft
          - Expired
          - Cancelled
          - null
    Fees:
      type: object
      properties:
        lateFee:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Fee'
        processingFee:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Fee'
    Form1099Events:
      type: object
      properties:
        acceptedByCollaboratorAt:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
        postFilingSuggestionMadeAt:
          type:
          - string
          - 'null'
        postFilingSuggestionResolvedAt:
          type:
          - string
          - 'null'
        submittedForCollaboratorReviewAt:
          type:
          - string
          - 'null'
        suggestionMadeAt:
          type:
          - string
          - 'null'
        suggestionResolvedAt:
          type:
          - string
          - 'null'
        updatedAt:
          type:
          - string
          - 'null'
    InvoiceEvents:
      type: object
      properties:
        approvedAt:
          type:
          - string
          - 'null'
        cancelledAt:
          type:
          - string
          - 'null'
        clientDeclinedAt:
          type:
          - string
          - 'null'
        clientResolvedDisputeAt:
          type:
          - string
          - 'null'
        depositedAt:
          type:
          - string
          - 'null'
        depositedToPayoutPlatformAt:
          type:
          - string
          - 'null'
        disputedAt:
          type:
          - string
          - 'null'
        emailMarkedAsSpamAt:
          type:
          - string
          - 'null'
        emailReceivedAt:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        emailUndeliverableAt:
          type:
          - string
          - 'null'
        emailViewedAt:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        estimatedDepositAt:
          type:
          - string
          - 'null'
        instantPayoutAt:
          type:
          - string
          - 'null'
        instantPayoutEligibleAt:
          type:
          - string
          - 'null'
        instantPayoutFailedAt:
          type:
          - string
          - 'null'
        markedPaidAt:
          type:
          - string
          - 'null'
        memberAcceptedAt:
          type:
          - string
          - 'null'
        memberDisputedAt:
          type:
          - string
          - 'null'
        memberResubmittedAt:
          type:
          - string
          - 'null'
        openedAt:
          type:
          - string
          - 'null'
        paidAt:
          type:
          - string
          - 'null'
        payAfterAccountVerified:
          type:
          - string
          - 'null'
        paymentFailedAt:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        paymentInTransitAt:
          type:
          - string
          - 'null'
        paymentRetriedAt:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        payoutFailedAt:
          type:
          - string
          - 'null'
        preApprovedAt:
          type:
          - string
          - 'null'
        refundedAt:
          type:
          - string
          - 'null'
        sentAt:
          type:
          - string
          - 'null'
        sentDue3DaysAgoAt:
          type:
          - string
          - 'null'
        sentDue7DaysAgoAt:
          type:
          - string
          - 'null'
        sentDueIn3DaysAt:
          type:
          - string
          - 'null'
        sentDueTodayAt:
          type:
          - string
          - 'null'
        sentInstantPayoutFailedToMember:
          type:
          - string
          - 'null'
        sentManuallyAt:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        sentPaymentConfirmationToClient:
          type:
          - string
          - 'null'
        sentPaymentConfirmationToMember:
          type:
          - string
          - 'null'
        sentPaymentInTransitReminderAt:
          type:
          - string
          - 'null'
        sentPayoutMightBeDelayedToClient:
          type:
          - string
          - 'null'
        sentRecurringPaymentFailedAt:
          type:
          - string
          - 'null'
    DocumentFiles:
      type: object
      properties:
        client:
          type:
          - string
          - 'null'
        member:
          type:
          - string
          - 'null'
    InvoiceLineItemsCreateRequest:
      type: object
      properties:
        costPerUnit:
          type:
          - number
          - 'null'
        description:
          type:
          - string
          - 'null'
        detail:
          type:
          - string
          - 'null'
        discount:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/facb8048736dba546c4c76242d9f8c7111011a7a7483528f37d80226698a1f2b'
        integration:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/3190685832a4970525ea5b0803efff0b36a0202062e1fd8a0bc187acbe156461'
        labels:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/LabelsDictionary'
        quantity:
          type:
          - number
          - 'null'
        reimbursableExpense:
          type:
          - boolean
          - 'null'
        totalCost:
          type:
          - number
          - 'null'
        unit:
          type:
          - string
          - 'null'
    ClientOptions:
      type: object
      properties:
        comment:
          type:
          - string
          - 'null'
        payDate:
          type:
          - string
          - 'null'
        workflowStatus:
          type:
          - string
          - 'null'
          enum:
          - Pending
          - PreApproved
          - Approved
          - PaymentInitiated
          - Funded
          - Declined
          - null
        workflowSubStatus:
          type:
          - string
          - 'null'
          enum:
          - Submitted
          - null
    ClientInvoiceTemplateCreateRequest:
      type: object
      properties:
        clientEmail:
          type: string
        invoiceData:
          $ref: '#/components/schemas/ClientInvoiceDataCreateRequest'
        memberId:
          type: string
        status:
          type: string
          enum:
          - Active
          - Draft
          - Expired
          - Cancelled
        accountId:
          type:
          - string
          - 'null'
        clientCompany:
          type:
          - string
          - 'null'
        clientEmailCC:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        clientFirstName:
          type:
          - string
          - 'null'
        clientLastName:
          type:
          - string
          - 'null'
        dueInDays:
          type:
          - number
          - 'null'
        frequency:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Frequency'
        paymentMethodId:
          type:
          - string
          - 'null'
        scheduleDates:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ScheduleDate'
      required:
      - clientEmail
      - invoiceData
      - memberId
      - status
    InvoicePayment:
      type: object
      properties:
        amount:
          type: number
        createdAt:
          type: string
        events:
          $ref: '#/components/schemas/fdde61b278ad2b0bef3e1f411d3749ff7bc345ae633a85eb25e5990d251fb3a9'
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        paymentId:
          type: string
        sourceId:
          type: string
        sourceMetadata:
          $ref: '#/components/schemas/fa804b4efa97e487035ead1834462b69564f5e4ebbbd376106a1847d1c1aa4f4'
        sourceType:
          type: string
          enum:
          - Account
          - Card
          - InternalAccount
        status:
          type: string
          enum:
          - Created
          - Failed
          - Pending
          - Sent
          - Cleared
          - Returned
        updatedAt:
          type: string
        statusReason:
          type:
          - string
          - 'null'
          enum:
          - InsufficientFunds
          - AccountNotFound
          - Unauthorized
          - GenericBankError
          - GenericCardError
          - CardCurrencyNotSupported
          - CardExpired
          - CardInputInvalid
          - null
      required:
      - amount
      - createdAt
      - events
      - labels
      - paymentId
      - sourceId
      - sourceMetadata
      - sourceType
      - status
      - updatedAt
    LabelsDictionary:
      type: object
      additionalProperties:
        type: string
    InvoiceNotificationPreferences:
      type: object
      properties:
        sendReminders:
          type: boolean
        sendInvoice:
          type:
          - boolean
          - 'null'
        sendReceipt:
          type:
          - boolean
          - 'null'
      required:
      - sendReminders
    facb8048736dba546c4c76242d9f8c7111011a7a7483528f37d80226698a1f2b:
      type: object
      properties:
        amount:
          type:
          - number
          - 'null'
        description:
          type:
          - string
          - 'null'
        percentage:
          type:
          - number
          - 'null'
    6d0791223791444911cf73db8aa3782fc7b1c0b614b1873468fbf7182f9f9a11:
      type: object
      properties:
        billClassId:
          type:
          - string
          - 'null'
        billCustomerId:
          type:
          - string
          - 'null'
        expenseAccountId:
          type:
          - string
          - 'null'
        invoiceClassId:
          type:
          - string
          - 'null'
        itemId:
          type:
          - string
          - 'null'
    ClientInvoice:
      type: object
      properties:
        additionalRecipientEmails:
          type: array
          items:
            type: string
        amount:
          type: number
        client:
          $ref: '#/components/schemas/ClientOptions'
        createdAt:
          type: string
        currency:
          type: string
          enum:
          - USD
          - CAD
        dueDate:
          type: string
        events:
          $ref: '#/components/schemas/InvoiceEvents'
        invoiceId:
          type: string
        invoiceNumber:
          type: string
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItem'
        member:
          $ref: '#/components/schemas/MemberOptions'
        memberAcceptsPayments:
          type: boolean
        memberAddress:
          $ref: '#/components/schemas/Address'
        memberClient:
          $ref: '#/components/schemas/MemberClient'
        memberCompany:
          type: string
        memberEmail:
          type: string
        memberLogoUrl:
          type: string
        memberName:
          type: string
        memberPaymentsVersion:
          type: number
        memberStripeAccountId:
          type: string
        projectName:
          type: string
        status:
          type: string
          enum:
          - Draft
          - Open
          - Overdue
          - Cancelled
          - Pending
          - PaymentInTransit
          - Paid
        updatedAt:
          type: string
        acceptedPaymentMethods:
          type:
          - array
          - 'null'
          items:
            enum:
            - Credit
            - ACH
            - Manual
            - null
            type:
            - string
            - 'null'
        accountId:
          type:
          - string
          - 'null'
        attachments:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceAttachments'
        bankTransferInfo:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/BankAccount'
        chargedFees:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Fees'
        creditFeeHandling:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/FeeHandlingConfig'
        integration:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceIntegrations'
        internationalBankTransferInfo:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/BankAccount'
        invoiceNotes:
          type:
          - string
          - 'null'
        invoiceTemplateId:
          type:
          - string
          - 'null'
        lateFeeHandling:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/LateFeeConfig'
        memberFormattedAddressLines:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        metadata:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceMetadata'
        paymentInfo:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/PaymentInfo'
        paymentMethodId:
          type:
          - string
          - 'null'
        processingFees:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ProcessingFees'
        sourceId:
          type:
          - string
          - 'null'
      required:
      - additionalRecipientEmails
      - amount
      - client
      - createdAt
      - currency
      - dueDate
      - events
      - invoiceId
      - invoiceNumber
      - lineItems
      - member
      - memberAcceptsPayments
      - memberAddress
      - memberClient
      - memberCompany
      - memberEmail
      - memberLogoUrl
      - memberName
      - memberPaymentsVersion
      - memberStripeAccountId
      - projectName
      - status
      - updatedAt
    CompanyLinks:
      type: object
      properties:
        instagramUrl:
          type:
          - string
          - 'null'
        linkedInUrl:
          type:
          - string
          - 'null'
        otherUrl:
          type:
          - string
          - 'null'
        twitterUrl:
          type:
          - string
          - 'null'
        websiteUrl:
          type:
          - string
          - 'null'
    MemberClientEvents:
      type: object
      properties:
        activeAt:
          type:
          - string
          - 'null'
        pendingAt:
          type:
          - string
          - 'null'
    Form1099Correction:
      type: object
      properties:
        address:
          oneOf:
          - type: 'null'
          - type: object
        companyStructure:
          type:
          - string
          - 'null'
          enum:
          - None
          - SoleProprietorship
          - LlcSingleMember
          - LlcMultiMember
          - CorporationS
          - LLCCorporationS
          - LLCCorporationC
          - LLCPartnership
          - CorporationC
          - Partnership
          - null
        ein:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        legalBusinessName:
          type:
          - string
          - 'null'
        ssn:
          type:
          - string
          - 'null'
        totalAmount:
          type:
          - number
          - 'null'
    ClientInvoiceDataCreateRequest:
      type: object
      properties:
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItemsCreateRequest'
        creditFeeHandling:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/FeeHandlingConfig'
        currency:
          type:
          - string
          - 'null'
          enum:
          - USD
          - CAD
          - null
        dueDate:
          type:
          - string
          - 'null'
      required:
      - lineItems
    87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a:
      type: object
      additionalProperties:
        type: string
    fa804b4efa97e487035ead1834462b69564f5e4ebbbd376106a1847d1c1aa4f4:
      type: object
      properties:
        institution:
          type:
          - string
          - 'null'
        mask:
          type:
          - string
          - 'null'
    InvoiceMetadata:
      type: object
      properties:
        depositNote:
          type:
          - string
          - 'null'
        invoiceDate:
          type:
          - string
          - 'null'
        payoutPendingReason:
          type:
          - string
          - 'null'
          enum:
          - Admin
          - PaymentNotClearedCard
          - PaymentNotCleared
          - PaymentNotClearedCollaborator
          - PaymentNotClearedFuture
          - PlatformErrorCard
          - PlatformErrorGeneric
          - PayoutNotEligibleYet
          - PayoutMethodNotSelected
          - PayoutMethodError
          - PlatformErrorGiftCard
          - PayoutGiftCardLinkPending
          - InstantPayoutMethodNotSelected
          - PlatformErrorInstantPayout
          - InstantPayoutNotEligibleYet
          - PlatformErrorCurrencyCloud
          - null
        pendingStatusReason:
          type:
          - string
          - 'null'
          enum:
          - CollaboratorMissingCustomEligibilityRequirement
          - CollaboratorMissingEligibilityRequirement
          - MemberPayoutMethodNotSelected
          - MemberTaxDocumentationNotVerified
          - null
        purchaseOrderNumber:
          type:
          - string
          - 'null'
    Invoice:
      type: object
      properties:
        amount:
          type: number
        client:
          $ref: '#/components/schemas/ClientOptions'
        createdAt:
          type: string
        currency:
          type: string
          enum:
          - USD
          - CAD
        dueDate:
          type: string
        eventActors:
          $ref: '#/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a'
        events:
          $ref: '#/components/schemas/InvoiceEvents'
        externalIds:
          $ref: '#/components/schemas/ExternalIds'
        invoiceId:
          type: string
        invoiceNumber:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItem'
        member:
          $ref: '#/components/schemas/MemberOptions'
        memberAddress:
          $ref: '#/components/schemas/Address'
        memberClientId:
          type: string
        memberId:
          type: string
        payments:
          type: array
          items:
            $ref: '#/components/schemas/InvoicePayment'
        status:
          type: string
          enum:
          - Draft
          - Open
          - Overdue
          - Cancelled
          - Pending
          - PaymentInTransit
          - Paid
        updatedAt:
          type: string
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        acceptedPaymentMethods:
          type:
          - array
          - 'null'
          items:
            enum:
            - Credit
            - ACH
            - Manual
            - null
            type:
            - string
            - 'null'
        accountId:
          type:
          - string
          - 'null'
        amountDetails:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceAmountDetails'
        attachments:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceAttachments'
        bankTransferInfo:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/BankAccount'
        chargedFees:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Fees'
        clientId:
          type:
          - string
          - 'null'
        collaborators:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceCollaborator'
        creditFeeHandling:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/FeeHandlingConfig'
        deductions:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceAppliedDeductions'
        integration:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceIntegrations'
        internationalBankTransferInfo:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/BankAccount'
        invoiceNotes:
          type:
          - string
          - 'null'
        invoiceTemplateId:
          type:
          - string
          - 'null'
        lateFeeHandling:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/LateFeeConfig'
        memberFormattedAddressLines:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        metadata:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceMetadata'
        notificationPreferences:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceNotificationPreferences'
        parentInvoiceId:
          type:
          - string
          - 'null'
        paymentInfo:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/PaymentInfo'
        paymentMethodId:
          type:
          - string
          - 'null'
        payoutDestinations:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoicePayoutDestination'
        processingFees:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ProcessingFees'
        refundDestinations:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceRefundDestination'
        sourceId:
          type:
          - string
          - 'null'
        withholdings:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceWithholdings'
      required:
      - amount
      - client
      - createdAt
      - currency
      - dueDate
      - eventActors
      - events
      - externalIds
      - invoiceId
      - invoiceNumber
      - labels
      - lineItems
      - member
      - memberAddress
      - memberClientId
      - memberId
      - payments
      - status
      - updatedAt
      - userRoles
    ExternalIdsQuickbooksData:
      type: object
      properties:
        id:
          type: string
        syncToken:
          type: string
        doCreate:
          type:
          - boolean
          - 'null'
        doDelete:
          type:
          - boolean
          - 'null'
        doUpdate:
          type:
          - boolean
          - 'null'
        updatedAt:
          type:
          - string
          - 'null'
      required:
      - id
      - syncToken
    MemberClientFormW9Info:
      type: object
      properties:
        addressLine1:
          type:
          - string
          - 'null'
        addressLine2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        companyStructure:
          type:
          - string
          - 'null'
          enum:
          - None
          - SoleProprietorship
          - LlcSingleMember
          - LlcMultiMember
          - CorporationS
          - LLCCorporationS
          - LLCCorporationC
          - LLCPartnership
          - CorporationC
          - Partnership
          - null
        country:
          type:
          - string
          - 'null'
        dob:
          type:
          - string
          - 'null'
        ein:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        legalBusinessName:
          type:
          - string
          - 'null'
        postalCode:
          type:
          - string
          - 'null'
        ssn:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
    UserRoles:
      type: object
      properties:
        ownerIds:
          type: array
          items:
            type: string
        viewerIds:
          type: array
          items:
            type: string
      required:
      - ownerIds
      - viewerIds
    InvoiceCollaboratorCreateRequest:
      type: object
      properties:
        amount:
          type: number
        currency:
          type: string
          enum:
          - USD
          - CAD
        description:
          type: string
        memberClientId:
          type: string
      required:
      - amount
      - currency
      - description
      - memberClientId
    BankAccount:
      type: object
      properties:
        accountNumber:
          type: string
        bankName:
          type: string
        routingNumber:
          type:
          - string
          - 'null'
        swiftCode:
          type:
          - string
          - 'null'
      required:
      - accountNumber
      - bankName
    36b041d426951ffff76360faf03ef8ae938bed9739e6ad9f51acb982782296a2:
      type: object
      properties:
        customAttachmentIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
    InvoiceDataCreateRequest:
      type: object
      properties:
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItemsCreateRequest'
        memberClientId:
          type: string
        acceptedPaymentMethods:
          type:
          - array
          - 'null'
          items:
            enum:
            - Credit
            - ACH
            - Manual
            - null
            type:
            - string
            - 'null'
        attachments:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/36b041d426951ffff76360faf03ef8ae938bed9739e6ad9f51acb982782296a2'
        collaborators:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceCollaboratorCreateRequest'
        creditFeeHandling:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/FeeHandlingConfig'
        currency:
          type:
          - string
          - 'null'
          enum:
          - USD
          - CAD
          - null
        dueDate:
          type:
          - string
          - 'null'
        invoiceNotes:
          type:
          - string
          - 'null'
        labels:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/LabelsDictionary'
        lateFeeHandling:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/LateFeeConfig'
        notificationPreferences:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceNotificationPreferences'
        status:
          type:
          - string
          - 'null'
          enum:
          - Draft
          - Open
          - Overdue
          - Cancelled
          - Pending
          - PaymentInTransit
          - Paid
          - null
      required:
      - lineItems
      - memberClientId
    Company:
      type: object
      properties:
        banking:
          type:
          - boolean
          - 'null'
        companyOwners:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/CompanyPerson'
        description:
          type:
          - string
          - 'null'
        disregardedEntityName:
          type:
          - string
          - 'null'
        legalBusinessName:
          type:
          - string
          - 'null'
        links:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/CompanyLinks'
        name:
          type:
          - string
          - 'null'
        stateOfIncorporation:
          type:
          - string
          - 'null'
        structure:
          type:
          - string
          - 'null'
          enum:
          - None
          - SoleProprietorship
          - LlcSingleMember
          - LlcMultiMember
          - CorporationS
          - LLCCorporationS
          - LLCCorporationC
          - LLCPartnership
          - CorporationC
          - Partnership
          - null
        supportEmail:
          type:
          - string
          - 'null'
        taxId:
          type:
          - string
          - 'null'
        website:
          type:
          - string
          - 'null'
        yearOfIncorporation:
          type:
          - string
          - 'null'
    TestInvoiceCreate:
      type: object
      properties:
        contactName:
          type: string
        email:
          type: string
      required:
      - contactName
      - email
    PayRequest:
      type: object
      properties:
        accountId:
          type:
          - string
          - 'null'
        paymentMethodId:
          type:
          - string
          - 'null'
        plaidPublicToken:
          type:
          - string
          - 'null'
    InvoicePdfGenerationResponse:
      type: object
      properties:
        attachments:
          $ref: '#/components/schemas/InvoiceAttachments'
        invoiceId:
          type: string
      required:
      - attachments
      - invoiceId
    fdde61b278ad2b0bef3e1f411d3749ff7bc345ae633a85eb25e5990d251fb3a9:
      type: object
      properties:
        clearedAt:
          type:
          - string
          - 'null'
        failedAt:
          type:
          - string
          - 'null'
        pendingAt:
          type:
          - string
          - 'null'
        returnedAt:
          type:
          - string
          - 'null'
        sentAt:
          type:
          - string
          - 'null'
    InvoiceIntegrations:
      type: object
      properties:
        quickbooks:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/6d0791223791444911cf73db8aa3782fc7b1c0b614b1873468fbf7182f9f9a11'
    Address:
      type: object
      properties:
        addressLine1:
          type: string
        city:
          type: string
        postalCode:
          type: string
        state:
          type: string
        addressLine2:
          type:
          - string
          - 'null'
      required:
      - addressLine1
      - city
      - postalCode
      - state
    InvoiceFeeCalculation:
      type: object
      properties:
        creditFeeTotal:
          type: number
      required:
      - creditFeeTotal
    FeeHandlingConfig:
      type: object
      properties:
        clientAbsolutePercentage:
          type:
          - number
          - 'null'
        clientPays:
          type:
          - number
          - 'null'
        memberPays:
          type:
          - number
          - 'null'
    ExternalIdsBulkImport:
      type: object
      properties:
        bulkItemMergeKey:
          type:
          - string
          - 'null'
    InvoiceAmountDetails:
      type: object
      properties:
        clientPaid:
          type: number
        collaboratorPayments:
          type: number
        deductions:
          type: number
        memberGross:
          type: number
        memberNet:
          type: number
        memberTaxWithheld:
          type: number
        processingFee:
          type: number
        wingspanTopUp:
          type: number
        clientRefunded:
          type:
          - number
          - 'null'
      required:
      - clientPaid
      - collaboratorPayments
      - deductions
      - memberGross
      - memberNet
      - memberTaxWithheld
      - processingFee
      - wingspanTopUp
    ExternalIds:
      type: object
      properties:
        bulk:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ExternalIdsBulkImport'
        quickbooks:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/ExternalIdsQuickbooks'
        stripe:
          type:
          - string
          - 'null'
    3190685832a4970525ea5b0803efff0b36a0202062e1fd8a0bc187acbe156461:
      type: object
      properties:
        quickbooks:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/6ad3f4f624fb518510130e879729b00ed8c237d1cebc5477abf34ac340a6424d'
    ClientInvoiceUpdateRequest:
      type: object
      properties:
        creditFeeHandling:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/FeeHandlingConfig'
        status:
          type:
          - string
          - 'null'
          enum:
          - Draft
          - Open
          - Overdue
          - Cancelled
          - Pending
          - PaymentInTransit
          - Paid
          - null
    ClientInvoiceTemplateUpdateRequest:
      type: object
      properties:
        clientId:
          type: string
        accountId:
          type:
          - string
          - 'null'
        paymentMethodId:
          type:
          - string
          - 'null'
      required:
      - clientId
    InvoiceCollaboratorUpdateRequest:
      type: object
      properties:
        amount:
          type:
          - number
          - 'null'
        description:
          type:
          - string
          - 'null'
    LateFeeConfigUpdate:
      type: object
      properties:
        frequency:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/FrequencyUpdate'
        lateFeeAmount:
          type:
          - number
          - 'null'
        lateFeePercentage:
          type:
          - number
          - 'null'
    PaymentInfo:
      type: object
      properties:
        meansType:
          type: string
          enum:
          - Card
          - Account
          - InternalAccount
        brandImageUrl:
          type:
          - string
          - 'null'
        cardBrand:
          type:
          - string
          - 'null'
        meansDescription:
          type:
          - string
          - 'null'
        meansLast4:
          type:
          - string
          - 'null'
      required:
      - meansType
    b9789f45f8c8070ff38a64d80c2e4a8732ddaf329e46546474400d26f84c0f1c:
      type: object
      properties:
        '2021':
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MemberClientForm1099Balances'
        '2022':
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/MemberClientForm1099Balances'
    MemberClientWireAccount:
      type: object
      properties:
        accountNumber:
          type: string
        bankName:
          type: string
        routingNumber:
          type:
          - string
          - 'null'
        swiftCode:
          type:
          - string
          - 'null'
      required:
      - accountNumber
      - bankName
    Fee:
      type: object
      properties:
        amount:
          type: number
        calculatedAt:
          type:
          - string
          - 'null'
      required:
      - amount
    DocumentResponse:
      type: object
      properties:
        clientId:
          type: string
        documentId:
          type: string
        memberId:
          type: string
        status:
          type: string
          enum:
          - Required
          - Approved
          - Invalid
          - ReceivedFront
          - ReceivedBack
          - PendingReview
        templateId:
          type: string
        title:
          type: string
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        events:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/DocumentEvents'
        files:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/DocumentFiles'
      required:
      - clientId
      - documentId
      - memberId
      - status
      - templateId
      - title
      - userRoles
    ProcessingFees:
      type: object
      properties:
        creditCardFee:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Fee'
        instantPayoutFee:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Fee'
    InvoiceTemplate:
      type: object
      properties:
        createdAt:
          type: string
        eventActors:
          $ref: '#/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a'
        invoiceData:
          $ref: '#/components/schemas/Invoice'
        invoiceTemplateId:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        memberId:
          type: string
        status:
          type: string
          enum:
          - Active
          - Draft
          - Expired
          - Cancelled
        updatedAt:
          type: string
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        accountId:
          type:
          - string
          - 'null'
        autoPaymentRequired:
          type:
          - boolean
          - 'null'
        createdInvoiceId:
          type:
          - string
          - 'null'
        dueInDays:
          type:
          - number
          - 'null'
        frequency:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Frequency'
        isSchedulingOnly:
          type:
          - boolean
          - 'null'
        lastInvoiceDate:
          type:
          - string
          - 'null'
        nextInvoiceDate:
          type:
          - string
          - 'null'
        paymentMethodId:
          type:
          - string
          - 'null'
        scheduleDates:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ScheduleDate'
      required:
      - createdAt
      - eventActors
      - invoiceData
      - invoiceTemplateId
      - labels
      - memberId
      - status
      - updatedAt
      - userRoles
    ScheduleDate:
      type: object
      properties:
        date:
          type: string
        status:
          type: string
          enum:
          - Pending
          - Completed
          - Skipped
          - Modified
        cutOffDate:
          type:
          - string
          - 'null'
        invoiceId:
          type:
          - string
          - 'null'
        invoiceTemplateId:
          type:
          - string
          - 'null'
      required:
      - date
      - status
    ExternalIdsQuickbooks:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/ExternalIdsQuickbooksData'
    f6f2bd1a2fc7bad4e0d8f22345fc5f6699d096b7797b93575869c544a4fc5cef:
      type: object
      properties:
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
    RedactedUser:
      type: object
      properties:
        email:
          type:
          - string
          - 'null'
        phone:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/7996a6815c717c0e93865680b5cd47dec90314e97e4e7282bed7fc2f367bc051'
        profile:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/f6f2bd1a2fc7bad4e0d8f22345fc5f6699d096b7797b93575869c544a4fc5cef'
        settings:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/9e97e63e736df301658ebeeab7f4fe84f3aeaa73800d3e4863801a3eb026df4b'
        status:
          type:
          - string
          - 'null'
          enum:
          - Pending
          - Active
          - Disabled
          - null
        tag:
          type:
          - string
          - 'null'
    23d776fc12e56286a20f36065e4f942c43a28218a62eb2f211116c130deb74eb:
      type: object
      properties:
        address:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Address'
        company:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Company'
        logoUrl:
          type:
          - string
          - 'null'
        ssnLastFour:
          type:
          - string
          - 'null'
    MemberClient:
      type: object
      properties:
        achCreditAccount:
          $ref: '#/components/schemas/MemberClientWireAccount'
        client:
          $ref: '#/components/schemas/RedactedMember'
        clientData:
          $ref: '#/components/schemas/ClientData'
        clientId:
          type: string
        clientUserAccountType:
          type: string
          enum:
          - member
          - enterprise
        createdAt:
          type: string
        emailTo:
          type: string
        eventActors:
          $ref: '#/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a'
        events:
          $ref: '#/components/schemas/MemberClientEvents'
        externalIds:
          $ref: '#/components/schemas/ExternalIds'
        form1099Balances:
          $ref: '#/components/schemas/b9789f45f8c8070ff38a64d80c2e4a8732ddaf329e46546474400d26f84c0f1c'
        formW9Data:
          $ref: '#/components/schemas/MemberClientFormW9Info'
        internationalWireAccount:
          $ref: '#/components/schemas/MemberClientWireAccount'
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        member:
          $ref: '#/components/schemas/RedactedMember'
        memberClientId:
          type: string
        memberData:
          $ref: '#/components/schemas/MemberData'
        memberId:
          type: string
        parentMemberClientId:
          type: string
        payerPayeeId:
          type: string
        status:
          type: string
          enum:
          - Active
          - Inactive
          - Pending
        taxStatus:
          type: string
          enum:
          - Complete
          - Failed
          - Pending
          - Incomplete
        updatedAt:
          type: string
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        collaboratorGroupId:
          type:
          - string
          - 'null'
        collaboratorGroupIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        company:
          type:
          - string
          - 'null'
        eligibilityRequirements:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/MemberClientRequirementResponse'
        emailCC:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        integration:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/3d33fba3f009de957b3be92fba006d6383af7e39f823cc1fd213506f6205100f'
        name:
          type:
          - string
          - 'null'
      required:
      - achCreditAccount
      - client
      - clientData
      - clientId
      - clientUserAccountType
      - createdAt
      - emailTo
      - eventActors
      - events
      - externalIds
      - form1099Balances
      - formW9Data
      - internal
      - internationalWireAccount
      - labels
      - member
      - memberClientId
      - memberData
      - memberId
      - parentMemberClientId
      - payerPayeeId
      - status
      - taxStatus
      - updatedAt
      - userRoles
    7996a6815c717c0e93865680b5cd47dec90314e97e4e7282bed7fc2f367bc051:
      type: object
      properties:
        number:
          type:
          - string
          - 'null'
    InvoiceCreateRequest:
      type: object
      properties:
        creditFeeHandling:
          $ref: '#/components/schemas/FeeHandlingConfig'
        dueDate:
          type: string
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItemsCreateRequest'
        memberClientId:
          type: string
        acceptedPaymentMethods:
          type:
          - array
          - 'null'
          items:
            enum:
            - Credit
            - ACH
            - Manual
            - null
            type:
            - string
            - 'null'
        attachments:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/36b041d426951ffff76360faf03ef8ae938bed9739e6ad9f51acb982782296a2'
        client:
          oneOf:
          - type: 'null'
          - type: object
        collaborators:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceCollaboratorCreateRequest'
        currency:
          type:
          - string
          - 'null'
          enum:
          - USD
          - CAD
          - null
        integration:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/3190685832a4970525ea5b0803efff0b36a0202062e1fd8a0bc187acbe156461'
        invoiceNotes:
          type:
          - string
          - 'null'
        labels:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/LabelsDictionary'
        lateFeeHandling:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/LateFeeConfigUpdate'
        member:
          oneOf:
          - type: 'null'
          - type: object
        metadata:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceMetadata'
        notificationPreferences:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceNotificationPreferences'
        status:
          type:
          - string
          - 'null'
          enum:
          - Draft
          - Open
          - Overdue
          - Cancelled
          - Pending
          - PaymentInTransit
          - Paid
          - null
      required:
      - creditFeeHandling
      - dueDate
      - lineItems
      - memberClientId
    9e97e63e736df301658ebeeab7f4fe84f3aeaa73800d3e4863801a3eb026df4b:
      type: object
      properties:
        userAccountType:
          type:
          - string
          - 'null'
          enum:
          - member
          - enterprise
          - null
    MemberData:
      type: object
      properties:
        autoPayRequirement:
          type:
          - string
          - 'null'
          enum:
          - All
          - None
          - null
        externalId:
          type:
          - string
          - 'null'
        shareTaxDocument:
          type:
          - string
          - 'null'
          enum:
          - Allow
          - Decline
          - null
    InvoiceLineItem:
      type: object
      properties:
        costPerUnit:
          type: number
        createdAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        labelsBak2:
          $ref: '#/components/schemas/LabelsDictionary'
        quantity:
          type: number
        reimbursableExpense:
          type: boolean
        totalCost:
          type: number
        unit:
          type: string
        updatedAt:
          type: string
        description:
          type:
          - string
          - 'null'
        detail:
          type:
          - string
          - 'null'
        discount:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/facb8048736dba546c4c76242d9f8c7111011a7a7483528f37d80226698a1f2b'
        integration:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceIntegrations'
      required:
      - costPerUnit
      - createdAt
      - labels
      - labelsBak2
      - quantity
      - reimbursableExpense
      - totalCost
      - unit
      - updatedAt
    FrequencyUpdate:
      type: object
      properties:
        daily:
          type:
          - boolean
          - 'null'
        dayInInterval:
          type:
          - number
          - 'null'
        endDate:
          type:
          - string
          - 'null'
        every:
          type:
          - number
          - 'null'
        interval:
          type:
          - string
          - 'null'
          enum:
          - Week
          - Month
          - null
        startDate:
          type:
          - string
          - 'null'
        twicePerMonth:
          type:
          - boolean
          - 'null'
    InvoiceRefundEvents:
      type: object
      properties:
        refundFailedAt:
          type:
          - string
          - 'null'
        refundStartedAt:
          type:
          - string
          - 'null'
        refundSuccessfulAt:
          type:
          - string
          - 'null'
    ScheduleDateUpdate:
      type: object
      properties:
        date:
          type:
          - string
          - 'null'
        invoiceTemplateId:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
          enum:
          - Pending
          - Completed
          - Skipped
          - Modified
          - null
    3d33fba3f009de957b3be92fba006d6383af7e39f823cc1fd213506f6205100f:
      type: object
      properties:
        quickbooks:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/d86c1fba5267ac3d9ce2954a6e46b70e471c0f91a44abbe94565ae50e6e9e863'
    8a9c6cb49482a98cdd603ff09858cdc3e5ef6ad9807c876c4161d925a96694a5:
      type: object
      properties:
        amount:
          type:
          - number
          - 'null'
        comment:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
          enum:
          - Open
          - Accepted
          - Rejected
          - null
    InvoiceAttachments:
      type: object
      properties:
        customAttachmentIds:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        customAttachmentInfo:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceAttachmentFile'
        invoiceLink:
          type:
          - string
          - 'null'
        invoicePdf:
          type:
          - string
          - 'null'
        receiptPdf:
          type:
          - string
          - 'null'
    InvoiceWithholdings:
      type: object
      properties:
        tax:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/14abbd45a54a2847207e8ddfaeb5d4bc82ffb855d63772d79e0c5fe04e9b9b01'
    ClientData:
      type: object
      properties:
        autoPayStrategy:
          type:
          - string
          - 'null'
          enum:
          - All
          - None
          - null
        externalId:
          type:
          - string
          - 'null'
        verificationStratgy:
          type:
          - string
          - 'null'
          enum:
          - None
          - All
          - null
    6ad3f4f624fb518510130e879729b00ed8c237d1cebc5477abf34ac340a6424d:
      type: object
      properties:
        expenseAccountId:
          type:
          - string
          - 'null'
        itemId:
          type:
          - string
          - 'null'
    ClientInvoiceTemplate:
      type: object
      properties:
        clientId:
          type: string
        createdAt:
          type: string
        invoiceData:
          $ref: '#/components/schemas/ClientInvoice'
        invoiceTemplateId:
          type: string
        memberId:
          type: string
        nextInvoiceDate:
          type: string
        scheduleDates:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleDate'
        status:
          type: string
          enum:
          - Active
          - Draft
          - Expired
          - Cancelled
        updatedAt:
          type: string
        accountId:
          type:
          - string
          - 'null'
        createdInvoiceId:
          type:
          - string
          - 'null'
        dueInDays:
          type:
          - number
          - 'null'
        frequency:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Frequency'
        paymentMethodId:
          type:
          - string
          - 'null'
      required:
      - clientId
      - createdAt
      - invoiceData
      - invoiceTemplateId
      - memberId
      - nextInvoiceDate
      - scheduleDates
      - status
      - updatedAt
    MemberClientRequirementResponse:
      type: object
      properties:
        clientId:
          type: string
        collaboratorGroupId:
          type: string
        eligibilityRequirementId:
          type: string
        requirementType:
          type: string
          enum:
          - Signature
        document:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/DocumentResponse'
        documentId:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
          enum:
          - New
          - Sent
          - Pending
          - Complete
          - null
        templateId:
          type:
          - string
          - 'null'
        validFor:
          type:
          - number
          - 'null'
      required:
      - clientId
      - collaboratorGroupId
      - eligibilityRequirementId
      - requirementType
    RedactedMember:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/RedactedUser'
        profile:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/23d776fc12e56286a20f36065e4f942c43a28218a62eb2f211116c130deb74eb'
      required:
      - user
    InvoiceUpdateRequest:
      type: object
      properties:
        acceptedPaymentMethods:
          type:
          - array
          - 'null'
          items:
            enum:
            - Credit
            - ACH
            - Manual
            - null
            type:
            - string
            - 'null'
        attachments:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/36b041d426951ffff76360faf03ef8ae938bed9739e6ad9f51acb982782296a2'
        chargedFees:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/Fees'
        client:
          oneOf:
          - type: 'null'
          - type: object
        collaborators:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceCollaboratorUpdateRequest'
        creditFeeHandling:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/FeeHandlingConfig'
        dueDate:
          type:
          - string
          - 'null'
        integration:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/3190685832a4970525ea5b0803efff0b36a0202062e1fd8a0bc187acbe156461'
        invoiceNotes:
          type:
          - string
          - 'null'
        labels:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/LabelsDictionary'
        lateFeeHandling:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/LateFeeConfigUpdate'
        lineItems:
          type:
          - array
          - 'null'
          items:
            oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceLineItemsCreateRequest'
        member:
          oneOf:
          - type: 'null'
          - type: object
        memberClientId:
          type:
          - string
          - 'null'
        metadata:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceMetadata'
        notificationPreferences:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/InvoiceNotificationPreferences'
        status:
          type:
          - string
          - 'null'
          enum:
          - Draft
          - Open
          - Overdue
          - Cancelled
          - Pending
          - PaymentInTransit
          - Paid
          - null
    CompanyPerson:
      type: object
      properties:
        memberId:
          type: string
        ownershipPercentage:
          type:
          - number
          - 'null'
      required:
      - memberId
    DocumentEvents:
      type: object
      properties:
        clientSignedAt:
          type:
          - string
          - 'null'
        memberSignedAt:
          type:
          - string
          - 'null'
    MemberOptions:
      type: object
      properties:
        comment:
          type:
          - string
          - 'null'
        payoutPreferences:
          type:
          - string
          - 'null'
          enum:
          - Standard
          - Instant
          - Expedited
          - Check
          - ECheck
          - null
        workflowStatus:
          type:
          - string
          - 'null'
          enum:
          - Disputed
          - Accepted
          - Resubmitted
          - null
        workflowSubStatus:
          type:
          - string
          - 'null'
          enum:
          - Submitted
          - null
    LateFeeConfig:
      type: object
      properties:
        frequency:
          $ref: '#/components/schemas/Frequency'
        lateFeeAmount:
          type:
          - number
          - 'null'
        lateFeePercentage:
          type:
          - number
          - 'null'
      required:
      - frequency
    InvoiceAttachmentFile:
      type: object
      properties:
        fileName:
          type: string
        fileUrl:
          type: string
      required:
      - fileName
      - fileUrl
    14abbd45a54a2847207e8ddfaeb5d4bc82ffb855d63772d79e0c5fe04e9b9b01:
      type: object
      properties:
        amountWithheld:
          type: number
        rate:
          type: number
      required:
      - amountWithheld
      - rate
    InvoiceRefundRequest:
      type: object
      properties:
        amount:
          type: number
        description:
          type:
          - string
          - 'null'
      required:
      - amount
    ClientInvoiceCreateRequest:
      type: object
      properties:
        clientEmail:
          type: string
        dueDate:
          type: string
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItemsCreateRequest'
        memberId:
          type: string
        clientCompany:
          type:
          - string
          - 'null'
        clientEmailCC:
          type:
          - array
          - 'null'
          items:
            type:
            - string
            - 'null'
        clientFirstName:
          type:
          - string
          - 'null'
        clientLastName:
          type:
          - string
          - 'null'
        creditFeeHandling:
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/FeeHandlingConfig'
        currency:
          type:
          - string
          - 'null'
          enum:
          - USD
          - CAD
          - null
      required:
      - clientEmail
      - dueDate
      - lineItems
      - memberId
    d86c1fba5267ac3d9ce2954a6e46b70e471c0f91a44abbe94565ae50e6e9e863:
      type: object
      properties:
        customerId:
          type:
          - string
          - 'null'
        expenseAccountId:
          type:
          - string
          - 'null'
        itemId:
          type:
          - string
          - 'null'
        vendorId:
          type:
          - string
          - 'null'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-readme:
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
