openapi: 3.1.0
info:
  title: Wingspan Payments API
  description: Payments
  termsOfService: https://www.wingspan.app
  contact:
    name: Wingspan API Support
    url: https://www.wingspan.app
    email: support@wingspan.app
  license:
    name: UNLICENSED
    url: https://UNLICENSED
  version: 1.0.0-oas3.1
servers:
  - url: https://api.wingspan.app
    description: Wingspan's Payments API in Production
    x-speakeasy-server-id: prod
  - url: https://stagingapi.wingspan.app
    description: Wingspan's Payments API in Staging
    x-speakeasy-server-id: staging
security:
  - BearerAuth: []
components:
  schemas:
    PayablesSummary:
      type: object
      properties:
        invoicesApproved:
          type: number
        invoicesDraft:
          type: number
        invoicesOpen:
          type: number
        invoicesOverdue:
          type: number
        invoicesPaid:
          type: number
        invoicesPending:
          type: number
        memberId:
          type: string
        totalApproved:
          type: number
        totalOpen:
          type: number
        totalOverdue:
          type: number
        totalPaid:
          type: number
      required:
        - invoicesApproved
        - invoicesDraft
        - invoicesOpen
        - invoicesOverdue
        - invoicesPaid
        - invoicesPending
        - memberId
        - totalApproved
        - totalOpen
        - totalOverdue
        - totalPaid
    PayableSchema:
      type: object
      properties:
        amount:
          type: number
        attachments:
          $ref: "#/components/schemas/InvoiceAttachments"
        client:
          $ref: "#/components/schemas/ClientOptions"
        clientId:
          type: string
        collaboratorId:
          type: string
        createdAt:
          type: string
        creditFeeHandling:
          $ref: "#/components/schemas/FeeHandlingConfig"
        currency:
          type: string
          enum:
            - USD
            - CAD
        dueDate:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        events:
          $ref: "#/components/schemas/InvoiceEvents"
        integration:
          $ref: >-
            #/components/schemas/6b94b58d661f3eabc1444a7a43ac4b99580f0d050123b7bf38184e2f0d7bd66e
        invoiceNotes:
          type: string
        invoiceNumber:
          type: string
        invoiceTemplateId:
          type: string
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        lateFeeHandling:
          $ref: "#/components/schemas/LateFeeConfig"
        lineItems:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceLineItem"
        member:
          $ref: "#/components/schemas/MemberOptions"
        memberAddress:
          $ref: "#/components/schemas/Address"
        memberId:
          type: string
        notificationPreferences:
          $ref: "#/components/schemas/InvoiceNotificationPreferences"
        payableId:
          type: string
        status:
          type: string
          enum:
            - Draft
            - Open
            - Overdue
            - Cancelled
            - Pending
            - PaymentInTransit
            - Paid
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        acceptedPaymentMethods:
          type:
            - array
            - "null"
          items:
            enum:
              - Credit
              - ACH
              - Manual
              - null
            type:
              - string
              - "null"
        accountId:
          type:
            - string
            - "null"
        bankTransferInfo:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/BankAccount"
        chargedFees:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Fees"
        internationalBankTransferInfo:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/BankAccount"
        memberFormattedAddressLines:
          type:
            - array
            - "null"
          items:
            type:
              - string
              - "null"
        metadata:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceMetadata"
        nextPayrollExecutionDate:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/ScheduleDate"
        paymentMethodId:
          type:
            - string
            - "null"
        sourceId:
          type:
            - string
            - "null"
      required:
        - amount
        - attachments
        - client
        - clientId
        - collaboratorId
        - createdAt
        - creditFeeHandling
        - currency
        - dueDate
        - eventActors
        - events
        - integration
        - invoiceNotes
        - invoiceNumber
        - invoiceTemplateId
        - labels
        - lateFeeHandling
        - lineItems
        - member
        - memberAddress
        - memberId
        - notificationPreferences
        - payableId
        - status
        - updatedAt
        - userRoles
    PayableCreateRequest:
      type: object
      properties:
        collaboratorId:
          type: string
        creditFeeHandling:
          $ref: "#/components/schemas/FeeHandlingConfig"
        dueDate:
          type: string
        lineItems:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceLineItemsCreateRequest"
        acceptedPaymentMethods:
          type:
            - array
            - "null"
          items:
            enum:
              - Credit
              - ACH
              - Manual
              - null
            type:
              - string
              - "null"
        attachments:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/36b041d426951ffff76360faf03ef8ae938bed9739e6ad9f51acb982782296a2
        client:
          oneOf:
            - type: "null"
            - type: object
        currency:
          type:
            - string
            - "null"
          enum:
            - USD
            - CAD
            - null
        integration:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/3190685832a4970525ea5b0803efff0b36a0202062e1fd8a0bc187acbe156461
        invoiceNotes:
          type:
            - string
            - "null"
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        lateFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LateFeeConfigUpdate"
        member:
          oneOf:
            - type: "null"
            - type: object
        memberClientId:
          type:
            - string
            - "null"
        metadata:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceMetadata"
        notificationPreferences:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceNotificationPreferences"
        status:
          type:
            - string
            - "null"
          enum:
            - Draft
            - Open
            - Overdue
            - Cancelled
            - Pending
            - PaymentInTransit
            - Paid
            - null
      required:
        - collaboratorId
        - creditFeeHandling
        - dueDate
        - lineItems
    PayableUpdateRequest:
      type: object
      properties:
        acceptedPaymentMethods:
          type:
            - array
            - "null"
          items:
            enum:
              - Credit
              - ACH
              - Manual
              - null
            type:
              - string
              - "null"
        attachments:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/36b041d426951ffff76360faf03ef8ae938bed9739e6ad9f51acb982782296a2
        chargedFees:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Fees"
        client:
          oneOf:
            - type: "null"
            - type: object
        collaborators:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/InvoiceCollaboratorUpdateRequest"
        creditFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/FeeHandlingConfig"
        dueDate:
          type:
            - string
            - "null"
        integration:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/3190685832a4970525ea5b0803efff0b36a0202062e1fd8a0bc187acbe156461
        invoiceNotes:
          type:
            - string
            - "null"
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        lateFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LateFeeConfigUpdate"
        lineItems:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/InvoiceLineItemsCreateRequest"
        member:
          oneOf:
            - type: "null"
            - type: object
        memberClientId:
          type:
            - string
            - "null"
        metadata:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceMetadata"
        notificationPreferences:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceNotificationPreferences"
        paymentMethods:
          type:
            - array
            - "null"
          items:
            enum:
              - Credit
              - ACH
              - Manual
              - null
            type:
              - string
              - "null"
        status:
          type:
            - string
            - "null"
          enum:
            - Draft
            - Open
            - Overdue
            - Cancelled
            - Pending
            - PaymentInTransit
            - Paid
            - null
    Invoice:
      type: object
      properties:
        amount:
          type: number
        client:
          $ref: "#/components/schemas/ClientOptions"
        createdAt:
          type: string
        currency:
          type: string
          enum:
            - USD
            - CAD
        dueDate:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        events:
          $ref: "#/components/schemas/InvoiceEvents"
        externalIds:
          $ref: "#/components/schemas/ExternalIds"
        invoiceId:
          type: string
        invoiceNumber:
          type: string
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        lineItems:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceLineItem"
        member:
          $ref: "#/components/schemas/MemberOptions"
        memberAddress:
          $ref: "#/components/schemas/Address"
        memberClientId:
          type: string
        memberId:
          type: string
        payments:
          type: array
          items:
            $ref: "#/components/schemas/InvoicePayment"
        status:
          type: string
          enum:
            - Draft
            - Open
            - Overdue
            - Cancelled
            - Pending
            - PaymentInTransit
            - Paid
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        acceptedPaymentMethods:
          type:
            - array
            - "null"
          items:
            enum:
              - Credit
              - ACH
              - Manual
              - null
            type:
              - string
              - "null"
        accountId:
          type:
            - string
            - "null"
        amountDetails:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceAmountDetails"
        attachments:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceAttachments"
        bankTransferInfo:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/BankAccount"
        chargedFees:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Fees"
        clientId:
          type:
            - string
            - "null"
        collaborators:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/InvoiceCollaborator"
        creditFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/FeeHandlingConfig"
        deductions:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/InvoiceAppliedDeductions"
        integration:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceIntegrations"
        internationalBankTransferInfo:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/BankAccount"
        invoiceNotes:
          type:
            - string
            - "null"
        invoiceTemplateId:
          type:
            - string
            - "null"
        lateFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LateFeeConfig"
        memberFormattedAddressLines:
          type:
            - array
            - "null"
          items:
            type:
              - string
              - "null"
        metadata:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceMetadata"
        notificationPreferences:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceNotificationPreferences"
        parentInvoiceId:
          type:
            - string
            - "null"
        paymentInfo:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/PaymentInfo"
        paymentMethodId:
          type:
            - string
            - "null"
        payoutDestinations:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/InvoicePayoutDestination"
        processingFees:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/ProcessingFees"
        refundDestinations:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/InvoiceRefundDestination"
        sourceId:
          type:
            - string
            - "null"
        withholdings:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceWithholdings"
      required:
        - amount
        - client
        - createdAt
        - currency
        - dueDate
        - eventActors
        - events
        - externalIds
        - invoiceId
        - invoiceNumber
        - labels
        - lineItems
        - member
        - memberAddress
        - memberClientId
        - memberId
        - payments
        - status
        - updatedAt
        - userRoles
    InvoiceCreateRequest:
      type: object
      properties:
        creditFeeHandling:
          $ref: "#/components/schemas/FeeHandlingConfig"
        dueDate:
          type: string
        lineItems:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceLineItemsCreateRequest"
        memberClientId:
          type: string
        acceptedPaymentMethods:
          type:
            - array
            - "null"
          items:
            enum:
              - Credit
              - ACH
              - Manual
              - null
            type:
              - string
              - "null"
        attachments:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/36b041d426951ffff76360faf03ef8ae938bed9739e6ad9f51acb982782296a2
        client:
          oneOf:
            - type: "null"
            - type: object
        collaborators:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/InvoiceCollaboratorCreateRequest"
        currency:
          type:
            - string
            - "null"
          enum:
            - USD
            - CAD
            - null
        integration:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/3190685832a4970525ea5b0803efff0b36a0202062e1fd8a0bc187acbe156461
        invoiceNotes:
          type:
            - string
            - "null"
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        lateFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LateFeeConfigUpdate"
        member:
          oneOf:
            - type: "null"
            - type: object
        metadata:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceMetadata"
        notificationPreferences:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceNotificationPreferences"
        status:
          type:
            - string
            - "null"
          enum:
            - Draft
            - Open
            - Overdue
            - Cancelled
            - Pending
            - PaymentInTransit
            - Paid
            - null
      required:
        - creditFeeHandling
        - dueDate
        - lineItems
        - memberClientId
    InvoiceUpdateRequest:
      type: object
      properties:
        acceptedPaymentMethods:
          type:
            - array
            - "null"
          items:
            enum:
              - Credit
              - ACH
              - Manual
              - null
            type:
              - string
              - "null"
        attachments:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/36b041d426951ffff76360faf03ef8ae938bed9739e6ad9f51acb982782296a2
        chargedFees:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Fees"
        client:
          oneOf:
            - type: "null"
            - type: object
        collaborators:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/InvoiceCollaboratorUpdateRequest"
        creditFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/FeeHandlingConfig"
        dueDate:
          type:
            - string
            - "null"
        integration:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/3190685832a4970525ea5b0803efff0b36a0202062e1fd8a0bc187acbe156461
        invoiceNotes:
          type:
            - string
            - "null"
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        lateFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LateFeeConfigUpdate"
        lineItems:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/InvoiceLineItemsCreateRequest"
        member:
          oneOf:
            - type: "null"
            - type: object
        memberClientId:
          type:
            - string
            - "null"
        metadata:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceMetadata"
        notificationPreferences:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceNotificationPreferences"
        status:
          type:
            - string
            - "null"
          enum:
            - Draft
            - Open
            - Overdue
            - Cancelled
            - Pending
            - PaymentInTransit
            - Paid
            - null
    ClientInvoice:
      type: object
      properties:
        additionalRecipientEmails:
          type: array
          items:
            type: string
        amount:
          type: number
        client:
          $ref: "#/components/schemas/ClientOptions"
        createdAt:
          type: string
        currency:
          type: string
          enum:
            - USD
            - CAD
        dueDate:
          type: string
        events:
          $ref: "#/components/schemas/InvoiceEvents"
        invoiceId:
          type: string
        invoiceNumber:
          type: string
        lineItems:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceLineItem"
        member:
          $ref: "#/components/schemas/MemberOptions"
        memberAcceptsPayments:
          type: boolean
        memberAddress:
          $ref: "#/components/schemas/Address"
        memberClient:
          $ref: "#/components/schemas/MemberClient"
        memberCompany:
          type: string
        memberEmail:
          type: string
        memberLogoUrl:
          type: string
        memberName:
          type: string
        memberPaymentsVersion:
          type: number
        memberStripeAccountId:
          type: string
        projectName:
          type: string
        status:
          type: string
          enum:
            - Draft
            - Open
            - Overdue
            - Cancelled
            - Pending
            - PaymentInTransit
            - Paid
        updatedAt:
          type: string
        acceptedPaymentMethods:
          type:
            - array
            - "null"
          items:
            enum:
              - Credit
              - ACH
              - Manual
              - null
            type:
              - string
              - "null"
        accountId:
          type:
            - string
            - "null"
        attachments:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceAttachments"
        bankTransferInfo:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/BankAccount"
        chargedFees:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Fees"
        creditFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/FeeHandlingConfig"
        integration:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceIntegrations"
        internationalBankTransferInfo:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/BankAccount"
        invoiceNotes:
          type:
            - string
            - "null"
        invoiceTemplateId:
          type:
            - string
            - "null"
        lateFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LateFeeConfig"
        memberFormattedAddressLines:
          type:
            - array
            - "null"
          items:
            type:
              - string
              - "null"
        metadata:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceMetadata"
        paymentInfo:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/PaymentInfo"
        paymentMethodId:
          type:
            - string
            - "null"
        processingFees:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/ProcessingFees"
        sourceId:
          type:
            - string
            - "null"
      required:
        - additionalRecipientEmails
        - amount
        - client
        - createdAt
        - currency
        - dueDate
        - events
        - invoiceId
        - invoiceNumber
        - lineItems
        - member
        - memberAcceptsPayments
        - memberAddress
        - memberClient
        - memberCompany
        - memberEmail
        - memberLogoUrl
        - memberName
        - memberPaymentsVersion
        - memberStripeAccountId
        - projectName
        - status
        - updatedAt
    ClientInvoiceCreateRequest:
      type: object
      properties:
        clientEmail:
          type: string
        dueDate:
          type: string
        lineItems:
          type: array
          items:
            $ref: "#/components/schemas/InvoiceLineItemsCreateRequest"
        memberId:
          type: string
        clientCompany:
          type:
            - string
            - "null"
        clientEmailCC:
          type:
            - array
            - "null"
          items:
            type:
              - string
              - "null"
        clientFirstName:
          type:
            - string
            - "null"
        clientLastName:
          type:
            - string
            - "null"
        creditFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/FeeHandlingConfig"
        currency:
          type:
            - string
            - "null"
          enum:
            - USD
            - CAD
            - null
      required:
        - clientEmail
        - dueDate
        - lineItems
        - memberId
    ClientInvoiceUpdateRequest:
      type: object
      properties:
        creditFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/FeeHandlingConfig"
        status:
          type:
            - string
            - "null"
          enum:
            - Draft
            - Open
            - Overdue
            - Cancelled
            - Pending
            - PaymentInTransit
            - Paid
            - null
    PayRequest:
      type: object
      properties:
        accountId:
          type:
            - string
            - "null"
        paymentMethodId:
          type:
            - string
            - "null"
        plaidPublicToken:
          type:
            - string
            - "null"
    InvoiceTemplate:
      type: object
      properties:
        createdAt:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        invoiceData:
          $ref: "#/components/schemas/Invoice"
        invoiceTemplateId:
          type: string
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        memberId:
          type: string
        status:
          type: string
          enum:
            - Active
            - Draft
            - Expired
            - Cancelled
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        accountId:
          type:
            - string
            - "null"
        autoPaymentRequired:
          type:
            - boolean
            - "null"
        createdInvoiceId:
          type:
            - string
            - "null"
        dueInDays:
          type:
            - number
            - "null"
        frequency:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Frequency"
        isSchedulingOnly:
          type:
            - boolean
            - "null"
        lastInvoiceDate:
          type:
            - string
            - "null"
        nextInvoiceDate:
          type:
            - string
            - "null"
        paymentMethodId:
          type:
            - string
            - "null"
        scheduleDates:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/ScheduleDate"
      required:
        - createdAt
        - eventActors
        - invoiceData
        - invoiceTemplateId
        - labels
        - memberId
        - status
        - updatedAt
        - userRoles
    InvoiceTemplateCreateRequest:
      type: object
      properties:
        invoiceData:
          $ref: "#/components/schemas/InvoiceDataCreateRequest"
        status:
          type: string
          enum:
            - Active
            - Draft
            - Expired
            - Cancelled
        dueInDays:
          type:
            - number
            - "null"
        frequency:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Frequency"
        isSchedulingOnly:
          type:
            - boolean
            - "null"
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        scheduleDates:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/ScheduleDate"
        sendEmails:
          type:
            - boolean
            - "null"
      required:
        - invoiceData
        - status
    InvoiceTemplateUpdateRequest:
      type: object
      properties:
        accountId:
          type:
            - string
            - "null"
        autoPaymentRequired:
          type:
            - boolean
            - "null"
        dueInDays:
          type:
            - number
            - "null"
        frequency:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/FrequencyUpdate"
        invoiceData:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceUpdateRequest"
        isSchedulingOnly:
          type:
            - boolean
            - "null"
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        paymentMethodId:
          type:
            - string
            - "null"
        scheduleDates:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/ScheduleDateUpdate"
        sendEmails:
          type:
            - boolean
            - "null"
        status:
          type:
            - string
            - "null"
          enum:
            - Active
            - Draft
            - Expired
            - Cancelled
            - null
    ClientInvoiceTemplate:
      type: object
      properties:
        clientId:
          type: string
        createdAt:
          type: string
        invoiceData:
          $ref: "#/components/schemas/ClientInvoice"
        invoiceTemplateId:
          type: string
        memberId:
          type: string
        nextInvoiceDate:
          type: string
        scheduleDates:
          type: array
          items:
            $ref: "#/components/schemas/ScheduleDate"
        status:
          type: string
          enum:
            - Active
            - Draft
            - Expired
            - Cancelled
        updatedAt:
          type: string
        accountId:
          type:
            - string
            - "null"
        createdInvoiceId:
          type:
            - string
            - "null"
        dueInDays:
          type:
            - number
            - "null"
        frequency:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Frequency"
        paymentMethodId:
          type:
            - string
            - "null"
      required:
        - clientId
        - createdAt
        - invoiceData
        - invoiceTemplateId
        - memberId
        - nextInvoiceDate
        - scheduleDates
        - status
        - updatedAt
    ClientInvoiceTemplateCreateRequest:
      type: object
      properties:
        clientEmail:
          type: string
        invoiceData:
          $ref: "#/components/schemas/ClientInvoiceDataCreateRequest"
        memberId:
          type: string
        status:
          type: string
          enum:
            - Active
            - Draft
            - Expired
            - Cancelled
        accountId:
          type:
            - string
            - "null"
        clientCompany:
          type:
            - string
            - "null"
        clientEmailCC:
          type:
            - array
            - "null"
          items:
            type:
              - string
              - "null"
        clientFirstName:
          type:
            - string
            - "null"
        clientLastName:
          type:
            - string
            - "null"
        dueInDays:
          type:
            - number
            - "null"
        frequency:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Frequency"
        paymentMethodId:
          type:
            - string
            - "null"
        scheduleDates:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/ScheduleDate"
      required:
        - clientEmail
        - invoiceData
        - memberId
        - status
    ClientInvoiceTemplateUpdateRequest:
      type: object
      properties:
        clientId:
          type: string
        accountId:
          type:
            - string
            - "null"
        paymentMethodId:
          type:
            - string
            - "null"
      required:
        - clientId
    InvoicePdfGenerationResponse:
      type: object
      properties:
        attachments:
          $ref: "#/components/schemas/InvoiceAttachments"
        invoiceId:
          type: string
      required:
        - attachments
        - invoiceId
    InvoiceRefundRequest:
      type: object
      properties:
        amount:
          type: number
        description:
          type:
            - string
            - "null"
      required:
        - amount
    MccResponse:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
      required:
        - code
        - title
    MemberClientSchema:
      type: object
      properties:
        achCreditAccount:
          $ref: "#/components/schemas/MemberClientWireAccount"
        client:
          $ref: "#/components/schemas/RedactedMember"
        clientId:
          type: string
        clientUserAccountType:
          type: string
          enum:
            - member
            - enterprise
        createdAt:
          type: string
        emailTo:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        form1099Balances:
          $ref: >-
            #/components/schemas/b9789f45f8c8070ff38a64d80c2e4a8732ddaf329e46546474400d26f84c0f1c
        internationalWireAccount:
          $ref: "#/components/schemas/MemberClientWireAccount"
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        memberClientId:
          type: string
        status:
          type: string
          enum:
            - Active
            - Inactive
            - Pending
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        collaboratorGroupIds:
          type:
            - array
            - "null"
          items:
            type:
              - string
              - "null"
        company:
          type:
            - string
            - "null"
        eligibilityRequirements:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/MemberClientRequirementResponse"
        emailCC:
          type:
            - array
            - "null"
          items:
            type:
              - string
              - "null"
        integration:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/3d33fba3f009de957b3be92fba006d6383af7e39f823cc1fd213506f6205100f
        name:
          type:
            - string
            - "null"
      required:
        - achCreditAccount
        - client
        - clientId
        - clientUserAccountType
        - createdAt
        - emailTo
        - eventActors
        - form1099Balances
        - internationalWireAccount
        - labels
        - memberClientId
        - status
        - updatedAt
        - userRoles
    MemberClientCreateRequest:
      type: object
      properties:
        clientId:
          type:
            - string
            - "null"
        company:
          type:
            - string
            - "null"
        emailCC:
          type:
            - array
            - "null"
          items:
            type:
              - string
              - "null"
        emailTo:
          type:
            - string
            - "null"
        integration:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/d750b2d9403b5bcbdb3c96c89f1cc713df563d587f16e5f39f5ab546c08a20a0
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        memberData:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/MemberData"
        memberId:
          type:
            - string
            - "null"
        name:
          type:
            - string
            - "null"
        status:
          type:
            - string
            - "null"
          enum:
            - Active
            - Inactive
            - Pending
            - null
    MemberClientUpdateRequest:
      type: object
      properties:
        clientData:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/ClientData"
        clientId:
          type:
            - string
            - "null"
        company:
          type:
            - string
            - "null"
        emailCC:
          type:
            - array
            - "null"
          items:
            type:
              - string
              - "null"
        emailTo:
          type:
            - string
            - "null"
        form1099Balances:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/90f96495b02c2509fff131505484d46479a91b7d23ed2b0f438ca117d0bccad7
        formW9Data:
          oneOf:
            - type: "null"
            - type: object
        integration:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/3d33fba3f009de957b3be92fba006d6383af7e39f823cc1fd213506f6205100f
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        memberData:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/MemberData"
        name:
          type:
            - string
            - "null"
        status:
          type:
            - string
            - "null"
          enum:
            - Active
            - Inactive
            - Pending
            - null
    Ping:
      type: object
      properties:
        code:
          type: number
        message:
          type: string
        status:
          type: string
      required:
        - code
        - message
        - status
    ServiceUpdateRequest:
      type: object
      properties:
        verifications:
          oneOf:
            - type: "null"
            - type: object
    InvoiceFeeCalculation:
      type: object
      properties:
        creditFeeTotal:
          type: number
      required:
        - creditFeeTotal
    TestInvoiceCreate:
      type: object
      properties:
        contactName:
          type: string
        email:
          type: string
      required:
        - contactName
        - email
    Card:
      type: object
      properties:
        brand:
          type: string
        createdAt:
          type: string
        expirationDate:
          type: string
        last4Digits:
          type: string
        status:
          type: string
          enum:
            - Active
            - Inactive
            - Stolen
            - Lost
            - Frozen
            - ClosedByCustomer
            - SuspectedFraud
        type:
          type: string
          enum:
            - individualDebitCard
            - businessDebitCard
            - individualVirtualDebitCard
            - businessVirtualDebitCard
      required:
        - brand
        - createdAt
        - expirationDate
        - internal
        - last4Digits
        - status
        - type
    CardCreateRequest:
      type: object
      properties:
        requestPhysicalCard:
          type:
            - boolean
            - "null"
        shippingAddress:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Address"
    CardDetails:
      type: object
      properties:
        address:
          $ref: "#/components/schemas/Address"
        brand:
          type: string
        createdAt:
          type: string
        expirationDate:
          type: string
        last4Digits:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
            - Active
            - Inactive
            - Stolen
            - Lost
            - Frozen
            - ClosedByCustomer
            - SuspectedFraud
        type:
          type: string
          enum:
            - individualDebitCard
            - businessDebitCard
            - individualVirtualDebitCard
            - businessVirtualDebitCard
        pinSet:
          type:
            - boolean
            - "null"
      required:
        - address
        - brand
        - createdAt
        - expirationDate
        - internal
        - last4Digits
        - name
        - status
        - type
    CardUpdateRequest:
      type: object
      properties:
        status:
          type: string
          enum:
            - Active
            - Inactive
            - Stolen
            - Lost
            - Frozen
            - ClosedByCustomer
      required:
        - status
    CardCodeRequest:
      type: object
      properties:
        channel:
          type: string
      required:
        - channel
    CardCodeResponse:
      type: object
      properties:
        phoneNumber:
          type: string
        verificationToken:
          type: string
      required:
        - phoneNumber
        - verificationToken
    CardTokenRequest:
      type: object
      properties:
        verificationCode:
          type: string
        verificationToken:
          type: string
      required:
        - verificationCode
        - verificationToken
    CardTokenResponse:
      type: object
      properties:
        cardId:
          type: string
        token:
          type: string
      required:
        - cardId
        - token
    InstantPayoutResponse:
      type: object
      properties:
        instantPayoutAccount:
          $ref: "#/components/schemas/FundsTransferAccount"
        instantPayoutAccountId:
          type: string
      required:
        - instantPayoutAccount
        - instantPayoutAccountId
    InstantPayoutRequest:
      type: object
      properties:
        externalPayoutAccountToken:
          type: string
      required:
        - externalPayoutAccountToken
    BankStatement:
      type: object
      properties:
        accountId:
          type: string
        date:
          type: string
        id:
          type: string
        name:
          type: string
      required:
        - accountId
        - date
        - id
        - name
    BankingApplicationForm:
      type: object
      properties:
        applicationLink:
          type: string
        memberId:
          type: string
      required:
        - applicationLink
        - memberId
    EligibilityRequirementCreateRequest:
      type: object
      properties:
        requirementType:
          type: string
          enum:
            - Signature
        templateId:
          type:
            - string
            - "null"
        validFor:
          type:
            - number
            - "null"
      required:
        - requirementType
    EligibilityRequirement:
      type: object
      properties:
        clientId:
          type: string
        eligibilityRequirementId:
          type: string
        requirementType:
          type: string
          enum:
            - Signature
        templateId:
          type:
            - string
            - "null"
        validFor:
          type:
            - number
            - "null"
      required:
        - clientId
        - eligibilityRequirementId
        - requirementType
    EligibilityRequirementUpdateRequest:
      type: object
      properties:
        requirementType:
          type: string
          enum:
            - Signature
        templateId:
          type:
            - string
            - "null"
        validFor:
          type:
            - number
            - "null"
      required:
        - requirementType
    PaymentEligibility:
      type: object
      properties:
        field:
          type: string
        value:
          type: string
      required:
        - field
        - value
    PaymentEligibilityUpdateRequest:
      type: object
      properties:
        field:
          type:
            - string
            - "null"
        value:
          oneOf:
            - type: "null"
            - type: object
    AdditionalData:
      type: object
      properties:
        key:
          type: string
        name:
          type: string
        required:
          type: boolean
        resourceType:
          type: string
          enum:
            - Collaborator
            - LineItem
        type:
          type: string
          enum:
            - Boolean
            - String
      required:
        - key
        - name
        - required
        - resourceType
        - type
    CustomField:
      type: object
      properties:
        id:
          type: string
        key:
          type: string
        name:
          type: string
        required:
          type: boolean
        resourceType:
          type: string
          enum:
            - Collaborator
            - LineItem
        type:
          type: string
          enum:
            - Boolean
            - String
      required:
        - id
        - key
        - name
        - required
        - resourceType
        - type
    AdditionalDataUpdateRequest:
      type: object
      properties:
        key:
          type:
            - string
            - "null"
        name:
          type:
            - string
            - "null"
        required:
          type:
            - boolean
            - "null"
        resourceType:
          type:
            - string
            - "null"
          enum:
            - Collaborator
            - LineItem
            - null
        type:
          type:
            - string
            - "null"
          enum:
            - Boolean
            - String
            - null
    DeductionCreateRequest:
      type: object
      properties:
        amount:
          type: number
        clientId:
          type: string
        currency:
          type: string
          enum:
            - USD
            - CAD
        memberId:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
            - PrePayment
            - PostPayment
        priority:
          type:
            - number
            - "null"
        sourceInvoiceId:
          type:
            - string
            - "null"
        startDate:
          type:
            - string
            - "null"
      required:
        - amount
        - clientId
        - currency
        - memberId
        - name
        - type
    DeductionResponse:
      type: object
      properties:
        amount:
          type: number
        application:
          type: array
          items:
            $ref: "#/components/schemas/DeductionApplication"
        clientId:
          type: string
        createdAt:
          type: string
        currency:
          type: string
          enum:
            - USD
            - CAD
        deductionId:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        memberId:
          type: string
        name:
          type: string
        priority:
          type: number
        startDate:
          type: string
        status:
          type: string
          enum:
            - Pending
            - PartiallyApplied
            - Complete
        type:
          type: string
          enum:
            - PrePayment
            - PostPayment
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        deductionTemplateId:
          type:
            - string
            - "null"
        disbursement:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/PostPaymentDeductionDisbursement"
        sourceInvoiceId:
          type:
            - string
            - "null"
      required:
        - amount
        - application
        - clientId
        - createdAt
        - currency
        - deductionId
        - eventActors
        - labels
        - memberId
        - name
        - priority
        - startDate
        - status
        - type
        - updatedAt
        - userRoles
    DeductionUpdateRequest:
      type: object
      properties:
        amount:
          type:
            - number
            - "null"
        currency:
          type:
            - string
            - "null"
          enum:
            - USD
            - CAD
            - null
        name:
          type:
            - string
            - "null"
        priority:
          type:
            - number
            - "null"
        sourceInvoiceId:
          type:
            - string
            - "null"
        startDate:
          type:
            - string
            - "null"
        type:
          type:
            - string
            - "null"
          enum:
            - PrePayment
            - PostPayment
            - null
    PayrollSettings:
      type: object
      properties:
        status:
          type: string
          enum:
            - Active
            - Draft
            - Expired
            - Cancelled
        calculationSettings1099:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/CalculationSettings1099"
        enablePlannedPayroll:
          type:
            - boolean
            - "null"
        enableProcessDaysBeforeDue:
          type:
            - boolean
            - "null"
        frequency:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Frequency"
        fundingSource:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/FundingSource"
        internationalPayroll:
          type:
            - string
            - "null"
          enum:
            - All
            - None
            - null
        issue1099s:
          type:
            - boolean
            - "null"
        processDaysBeforeDue:
          type:
            - number
            - "null"
        runsPayroll:
          type:
            - boolean
            - "null"
        scheduleDates:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/ScheduleDate"
        workflow:
          type:
            - string
            - "null"
          enum:
            - SingleStage
            - DualStage
            - null
      required:
        - status
    PayrollSettingsUpdate:
      type: object
      properties:
        calculationSettings1099:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/CalculationSettings1099"
        enablePlannedPayroll:
          type:
            - boolean
            - "null"
        enableProcessDaysBeforeDue:
          type:
            - boolean
            - "null"
        frequency:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/FrequencyUpdate"
        fundingSource:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/FundingSource"
        issue1099s:
          type:
            - boolean
            - "null"
        processDaysBeforeDue:
          type:
            - number
            - "null"
        scheduleDates:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/ScheduleDateUpdate"
        status:
          type:
            - string
            - "null"
          enum:
            - Active
            - Draft
            - Expired
            - Cancelled
            - null
        workflow:
          type:
            - string
            - "null"
          enum:
            - SingleStage
            - DualStage
            - null
    CollaboratorEvents:
      type: object
      properties:
        knowYourCustomerVerifiedAt:
          type: string
        payoutMethodFirstAddedAt:
          type: string
        taxDocumentationVerifiedAt:
          type: string
        signedUpAt:
          type:
            - string
            - "null"
      required:
        - knowYourCustomerVerifiedAt
        - payoutMethodFirstAddedAt
        - taxDocumentationVerifiedAt
    CollaboratorSchema:
      type: object
      properties:
        achCreditAccount:
          $ref: "#/components/schemas/MemberClientWireAccount"
        clientId:
          type: string
        collaboratorId:
          type: string
        createdAt:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        form1099Balances:
          $ref: >-
            #/components/schemas/b9789f45f8c8070ff38a64d80c2e4a8732ddaf329e46546474400d26f84c0f1c
        internationalWireAccount:
          $ref: "#/components/schemas/MemberClientWireAccount"
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        member:
          $ref: "#/components/schemas/RedactedMember"
        memberId:
          type: string
        status:
          type: string
          enum:
            - Active
            - Inactive
            - Pending
        taxStatus:
          type: string
          enum:
            - Complete
            - Failed
            - Pending
            - Incomplete
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        clientData:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/ClientData"
        collaboratorGroupIds:
          type:
            - array
            - "null"
          items:
            type:
              - string
              - "null"
        eligibilityRequirements:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/MemberClientRequirementResponse"
        formW9Data:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/MemberClientFormW9Info"
        integration:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/26e8ea23ccb1e007e7d6560175c7e75c768dac34727b7fe1d834ca24b8221ef4
        memberData:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/MemberData"
      required:
        - achCreditAccount
        - clientId
        - collaboratorId
        - createdAt
        - eventActors
        - form1099Balances
        - internationalWireAccount
        - labels
        - member
        - memberId
        - status
        - taxStatus
        - updatedAt
        - userRoles
    CollaboratorUpdateRequest:
      type: object
      properties:
        clientData:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/ClientData"
        form1099Balances:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/90f96495b02c2509fff131505484d46479a91b7d23ed2b0f438ca117d0bccad7
        formW9Data:
          oneOf:
            - type: "null"
            - type: object
        integration:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/26e8ea23ccb1e007e7d6560175c7e75c768dac34727b7fe1d834ca24b8221ef4
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        status:
          type:
            - string
            - "null"
          enum:
            - Active
            - Inactive
            - Pending
            - null
    CollaboratorCreateRequest:
      type: object
      properties:
        clientId:
          type: string
        clientData:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/ClientData"
        collaboratorGroupId:
          type:
            - string
            - "null"
        formW9Data:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/MemberClientFormW9Info"
        integration:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/26e8ea23ccb1e007e7d6560175c7e75c768dac34727b7fe1d834ca24b8221ef4
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        memberCompany:
          type:
            - string
            - "null"
        memberEmail:
          type:
            - string
            - "null"
        memberId:
          type:
            - string
            - "null"
        memberName:
          type:
            - string
            - "null"
        status:
          type:
            - string
            - "null"
          enum:
            - Active
            - Inactive
            - Pending
            - null
      required:
        - clientId
    CollaboratorGroupResponse:
      type: object
      properties:
        clientId:
          type: string
        collaboratorGroupId:
          type: string
        defaultGroup:
          type: boolean
        description:
          type: string
        name:
          type: string
        collaboratorSettings:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        eligibilityRequirements:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/EligibilityRequirement"
      required:
        - clientId
        - collaboratorGroupId
        - defaultGroup
        - description
        - name
    CollaboratorGroupCreateRequest:
      type: object
      properties:
        description:
          type: string
        name:
          type: string
        collaboratorSettings:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        eligibilityRequirements:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/CollaboratorGroupRequirement"
      required:
        - description
        - name
    CollaboratorGroupRequirementUpdate:
      type: object
      properties:
        newEligibilityRequirementId:
          type: string
      required:
        - newEligibilityRequirementId
    CollaboratorGroupUpdateRequest:
      type: object
      properties:
        collaboratorSettings:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        description:
          type:
            - string
            - "null"
        eligibilityRequirements:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/CollaboratorGroupRequirement"
        name:
          type:
            - string
            - "null"
    Download1099Response:
      type: object
      properties: {}
    DownloadW9Response:
      type: object
      properties: {}
    Calculate1099Request:
      type: object
      properties:
        memberClientId:
          type: string
        year:
          type: number
      required:
        - memberClientId
        - year
    Calculate1099Response:
      type: object
      properties:
        memberClient:
          $ref: "#/components/schemas/MemberClient"
      required:
        - memberClient
    Remail1099Request:
      type: object
      properties:
        address:
          $ref: >-
            #/components/schemas/7b49dbbd81f36ab6d7b4f07c5e2e53f40e36eb7b83d1488f379e993b830eec56
        memberId:
          type: string
        year:
          type: number
        documentIndex:
          type:
            - number
            - "null"
      required:
        - address
        - memberId
        - year
    Remail1099Response:
      type: object
      properties: {}
    Mark1099AsUndeliveredRequest:
      type: object
      properties:
        memberId:
          type: string
        submissionIndex:
          type: number
        year:
          type: number
      required:
        - memberId
        - submissionIndex
        - year
    Mark1099AsUndeliveredResponse:
      type: object
      properties: {}
    InstitutionResponse:
      type: object
      properties:
        address:
          type: string
        isACHSupported:
          type: boolean
        isRTPSupported:
          type: boolean
        isWireSupported:
          type: boolean
        name:
          type: string
        routingNumber:
          type: string
      required:
        - address
        - isACHSupported
        - isRTPSupported
        - isWireSupported
        - name
        - routingNumber
    CheckbookCard:
      type: object
      properties:
        address:
          $ref: "#/components/schemas/Address"
        brand:
          type: string
          enum:
            - AmericanExpress
            - Visa
            - Mastercard
            - Discover
            - DinersClub
            - JCB
        cardId:
          type: string
        expirationMM:
          type: string
        expirationYYYY:
          type: string
        last4:
          type: string
      required:
        - address
        - brand
        - cardId
        - expirationMM
        - expirationYYYY
        - last4
    CheckbookCardCreate:
      type: object
      properties:
        cardNumber:
          type: string
        expMM:
          type: string
        expYYYY:
          type: string
        name:
          type: string
        address:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/Address"
        cvv:
          type:
            - string
            - "null"
      required:
        - cardNumber
        - expMM
        - expYYYY
        - name
    PayoutSettingsResponse:
      type: object
      properties:
        payoutDestinations:
          type: array
          items:
            $ref: "#/components/schemas/PayoutDestinationResponse"
        payoutPreferences:
          type: string
          enum:
            - Standard
            - Instant
            - Expedited
            - Check
            - ECheck
      required:
        - payoutDestinations
        - payoutPreferences
    PayoutSettingsUpdate:
      type: object
      properties:
        payoutDestinations:
          type:
            - array
            - "null"
          items:
            oneOf:
              - type: "null"
              - $ref: "#/components/schemas/PayoutDestinationUpdate"
        payoutPreferences:
          type:
            - string
            - "null"
          enum:
            - Standard
            - Instant
            - Expedited
            - Check
            - ECheck
            - null
    BulkPayableBatch:
      type: object
      properties:
        bulkPayableBatchId:
          type: string
        client:
          $ref: "#/components/schemas/RedactedMember"
        clientId:
          type: string
        createdAt:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        processingStrategy:
          type: string
          enum:
            - Merge
            - Single
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        statistics:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/757f4961b94334fd41cedc27262be7b14583377703cda6490b996969bd4e66c2
      required:
        - bulkPayableBatchId
        - client
        - clientId
        - createdAt
        - eventActors
        - labels
        - processingStrategy
        - status
        - updatedAt
        - userRoles
    BulkPayableBatchCreate:
      type: object
      properties:
        processingStrategy:
          type: string
          enum:
            - Merge
            - Single
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
      required:
        - processingStrategy
    BulkPayableBatchUpdate:
      type: object
      properties:
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        status:
          type:
            - string
            - "null"
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
            - null
    BulkPayableItem:
      type: object
      properties:
        amount:
          type: number
        bulkPayableBatchId:
          type: string
        bulkPayableItemId:
          type: string
        clientId:
          type: string
        createdAt:
          type: string
        dueDate:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        lineItemDescription:
          type: string
        paidDate:
          type: string
        payableStatus:
          type: string
          enum:
            - Draft
            - Open
            - Approved
            - Paid
            - Cancelled
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        attachmentId:
          type:
            - string
            - "null"
        bulkPayableItemMergeKey:
          type:
            - string
            - "null"
        bulkPayableItemReference:
          type:
            - string
            - "null"
        collaboratorEmail:
          type:
            - string
            - "null"
        collaboratorExternalId:
          type:
            - string
            - "null"
        collaboratorId:
          type:
            - string
            - "null"
        integration:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceIntegrations"
        lineItemDetail:
          type:
            - string
            - "null"
        metadata:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/ff870c34e17f41323279d1c2fe8e2d03accac4d93d8aa050ddce7dbba094dbcb
        payableNotes:
          type:
            - string
            - "null"
        reimbursableExpense:
          type:
            - boolean
            - "null"
        workflowSubStatus:
          type:
            - string
            - "null"
          enum:
            - Submitted
            - null
      required:
        - amount
        - bulkPayableBatchId
        - bulkPayableItemId
        - clientId
        - createdAt
        - dueDate
        - eventActors
        - labels
        - lineItemDescription
        - paidDate
        - payableStatus
        - status
        - updatedAt
        - userRoles
    BulkPayableItemCreate:
      type: object
      properties:
        amount:
          type: number
        bulkPayableBatchId:
          type: string
        dueDate:
          type: string
        lineItemDescription:
          type: string
        payableStatus:
          type: string
          enum:
            - Draft
            - Open
            - Approved
            - Paid
            - Cancelled
        attachmentId:
          type:
            - string
            - "null"
        bulkPayableItemMergeKey:
          type:
            - string
            - "null"
        bulkPayableItemReference:
          type:
            - string
            - "null"
        clientId:
          type:
            - string
            - "null"
        collaboratorEmail:
          type:
            - string
            - "null"
        collaboratorExternalId:
          type:
            - string
            - "null"
        collaboratorId:
          type:
            - string
            - "null"
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        lineItemDetail:
          type:
            - string
            - "null"
        paidDate:
          type:
            - string
            - "null"
        payableNotes:
          type:
            - string
            - "null"
        reimbursableExpense:
          type:
            - boolean
            - "null"
        workflowSubStatus:
          type:
            - string
            - "null"
          enum:
            - Submitted
            - null
      required:
        - amount
        - bulkPayableBatchId
        - dueDate
        - lineItemDescription
        - payableStatus
    BulkPayableImportSummary:
      type: object
      properties:
        deductionCollaboratorsCount:
          type: number
        netImportAmount:
          type: number
        payableCollaboratorsCount:
          type: number
        toBeCreatedDeductionsCount:
          type: number
        toBeCreatedPayablesCount:
          type: number
        toBeUpdatedDeductionsCount:
          type: number
        toBeUpdatedPayablesCount:
          type: number
        totalDeductionsAmount:
          type: number
        totalPayableItems:
          type: number
        totalPayablesAmount:
          type: number
      required:
        - deductionCollaboratorsCount
        - netImportAmount
        - payableCollaboratorsCount
        - toBeCreatedDeductionsCount
        - toBeCreatedPayablesCount
        - toBeUpdatedDeductionsCount
        - toBeUpdatedPayablesCount
        - totalDeductionsAmount
        - totalPayableItems
        - totalPayablesAmount
    BulkPayableItemUpdate:
      type: object
      properties:
        amount:
          type:
            - number
            - "null"
        attachmentId:
          type:
            - string
            - "null"
        bulkPayableBatchId:
          type:
            - string
            - "null"
        bulkPayableItemMergeKey:
          type:
            - string
            - "null"
        bulkPayableItemReference:
          type:
            - string
            - "null"
        clientId:
          type:
            - string
            - "null"
        collaboratorEmail:
          type:
            - string
            - "null"
        collaboratorExternalId:
          type:
            - string
            - "null"
        collaboratorId:
          type:
            - string
            - "null"
        dueDate:
          type:
            - string
            - "null"
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        lineItemDescription:
          type:
            - string
            - "null"
        lineItemDetail:
          type:
            - string
            - "null"
        paidDate:
          type:
            - string
            - "null"
        payableNotes:
          type:
            - string
            - "null"
        payableStatus:
          type:
            - string
            - "null"
          enum:
            - Draft
            - Open
            - Approved
            - Paid
            - Cancelled
            - null
        reimbursableExpense:
          type:
            - boolean
            - "null"
        workflowSubStatus:
          type:
            - string
            - "null"
          enum:
            - Submitted
            - null
    BulkInvoiceBatch:
      type: object
      properties:
        bulkInvoiceBatchId:
          type: string
        createdAt:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        memberId:
          type: string
        processingStrategy:
          type: string
          enum:
            - Merge
            - Single
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        statistics:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/757f4961b94334fd41cedc27262be7b14583377703cda6490b996969bd4e66c2
      required:
        - bulkInvoiceBatchId
        - createdAt
        - eventActors
        - labels
        - memberId
        - processingStrategy
        - status
        - updatedAt
        - userRoles
    BulkInvoiceBatchCreate:
      type: object
      properties:
        processingStrategy:
          type: string
          enum:
            - Merge
            - Single
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
      required:
        - processingStrategy
    BulkInvoiceBatchUpdate:
      type: object
      properties:
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        status:
          type:
            - string
            - "null"
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
            - null
    BulkInvoiceItem:
      type: object
      properties:
        amount:
          type: number
        bulkInvoiceBatchId:
          type: string
        bulkInvoiceItemId:
          type: string
        createdAt:
          type: string
        dueDate:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        invoiceStatus:
          type: string
          enum:
            - Draft
            - Open
            - Approved
            - Paid
            - Cancelled
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        lineItemDescription:
          type: string
        memberId:
          type: string
        paidDate:
          type: string
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        acceptedPaymentMethods:
          type:
            - array
            - "null"
          items:
            enum:
              - Credit
              - ACH
              - Manual
              - null
            type:
              - string
              - "null"
        bulkInvoiceItemMergeKey:
          type:
            - string
            - "null"
        bulkInvoiceItemReference:
          type:
            - string
            - "null"
        clientEmail:
          type:
            - string
            - "null"
        clientExternalId:
          type:
            - string
            - "null"
        creditFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/FeeHandlingConfig"
        integration:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/InvoiceIntegrations"
        invoiceDate:
          type:
            - string
            - "null"
        invoiceNotes:
          type:
            - string
            - "null"
        lineItemDetail:
          type:
            - string
            - "null"
        memberClientId:
          type:
            - string
            - "null"
        metadata:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/c1b9877fd1d35a4292006c3c09941c1c5c21bbe2e0e87488661804eebf2a3e4a
        projectName:
          type:
            - string
            - "null"
        reimbursableExpense:
          type:
            - boolean
            - "null"
        sendDate:
          type:
            - string
            - "null"
      required:
        - amount
        - bulkInvoiceBatchId
        - bulkInvoiceItemId
        - createdAt
        - dueDate
        - eventActors
        - invoiceStatus
        - labels
        - lineItemDescription
        - memberId
        - paidDate
        - status
        - updatedAt
        - userRoles
    BulkInvoiceItemCreate:
      type: object
      properties:
        amount:
          type: number
        bulkInvoiceBatchId:
          type: string
        dueDate:
          type: string
        invoiceStatus:
          type: string
          enum:
            - Draft
            - Open
            - Approved
            - Paid
            - Cancelled
        lineItemDescription:
          type: string
        acceptedPaymentMethods:
          type:
            - array
            - "null"
          items:
            enum:
              - Credit
              - ACH
              - Manual
              - null
            type:
              - string
              - "null"
        bulkInvoiceItemMergeKey:
          type:
            - string
            - "null"
        bulkInvoiceItemReference:
          type:
            - string
            - "null"
        clientEmail:
          type:
            - string
            - "null"
        clientExternalId:
          type:
            - string
            - "null"
        creditFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/FeeHandlingConfig"
        invoiceNotes:
          type:
            - string
            - "null"
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        lineItemDetail:
          type:
            - string
            - "null"
        memberClientId:
          type:
            - string
            - "null"
        paidDate:
          type:
            - string
            - "null"
        projectName:
          type:
            - string
            - "null"
        reimbursableExpense:
          type:
            - boolean
            - "null"
        sendDate:
          type:
            - string
            - "null"
      required:
        - amount
        - bulkInvoiceBatchId
        - dueDate
        - invoiceStatus
        - lineItemDescription
    BulkInvoiceItemUpdate:
      type: object
      properties:
        acceptedPaymentMethods:
          type:
            - array
            - "null"
          items:
            enum:
              - Credit
              - ACH
              - Manual
              - null
            type:
              - string
              - "null"
        amount:
          type:
            - number
            - "null"
        bulkInvoiceBatchId:
          type:
            - string
            - "null"
        bulkInvoiceItemMergeKey:
          type:
            - string
            - "null"
        bulkInvoiceItemReference:
          type:
            - string
            - "null"
        clientEmail:
          type:
            - string
            - "null"
        clientExternalId:
          type:
            - string
            - "null"
        creditFeeHandling:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/FeeHandlingConfig"
        dueDate:
          type:
            - string
            - "null"
        invoiceNotes:
          type:
            - string
            - "null"
        invoiceStatus:
          type:
            - string
            - "null"
          enum:
            - Draft
            - Open
            - Approved
            - Paid
            - Cancelled
            - null
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        lineItemDescription:
          type:
            - string
            - "null"
        lineItemDetail:
          type:
            - string
            - "null"
        memberClientId:
          type:
            - string
            - "null"
        paidDate:
          type:
            - string
            - "null"
        projectName:
          type:
            - string
            - "null"
        reimbursableExpense:
          type:
            - boolean
            - "null"
        sendDate:
          type:
            - string
            - "null"
    BulkCollaboratorBatch:
      type: object
      properties:
        bulkCollaboratorBatchId:
          type: string
        client:
          $ref: "#/components/schemas/RedactedMember"
        clientId:
          type: string
        createdAt:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        statistics:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/757f4961b94334fd41cedc27262be7b14583377703cda6490b996969bd4e66c2
      required:
        - bulkCollaboratorBatchId
        - client
        - clientId
        - createdAt
        - eventActors
        - labels
        - status
        - updatedAt
        - userRoles
    BulkBatchCreate:
      type: object
      properties:
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
    BulkBatchUpdate:
      type: object
      properties:
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        status:
          type:
            - string
            - "null"
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
            - null
    BulkCollaboratorItem:
      type: object
      properties:
        bulkCollaboratorBatchId:
          type: string
        bulkCollaboratorItemId:
          type: string
        clientId:
          type: string
        collaboratorStatus:
          type: string
          enum:
            - Active
            - Inactive
            - Pending
        createdAt:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        collaboratorGroupId:
          type:
            - string
            - "null"
        collaboratorId:
          type:
            - string
            - "null"
        company:
          type:
            - string
            - "null"
        email:
          type:
            - string
            - "null"
        externalId:
          type:
            - string
            - "null"
        firstLastName:
          type:
            - string
            - "null"
        formW9Data:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/MemberClientFormW9Info"
        memberId:
          type:
            - string
            - "null"
        metadata:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/8cf19a7bc90727398c2780566a4070199559f4723ec14c01c448dc0356efffa1
        orgSubAccountId:
          type:
            - string
            - "null"
      required:
        - bulkCollaboratorBatchId
        - bulkCollaboratorItemId
        - clientId
        - collaboratorStatus
        - createdAt
        - eventActors
        - labels
        - status
        - updatedAt
        - userRoles
    BulkCollaboratorItemCreate:
      type: object
      properties:
        collaboratorGroupId:
          type:
            - string
            - "null"
        collaboratorId:
          type:
            - string
            - "null"
        collaboratorStatus:
          type:
            - string
            - "null"
          enum:
            - Active
            - Inactive
            - Pending
            - null
        company:
          type:
            - string
            - "null"
        email:
          type:
            - string
            - "null"
        externalId:
          type:
            - string
            - "null"
        firstLastName:
          type:
            - string
            - "null"
        formW9Data:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/MemberClientFormW9Info"
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        orgSubAccountId:
          type:
            - string
            - "null"
    BulkCollaboratorItemUpdate:
      type: object
      properties:
        collaboratorGroupId:
          type:
            - string
            - "null"
        collaboratorId:
          type:
            - string
            - "null"
        collaboratorStatus:
          type:
            - string
            - "null"
          enum:
            - Active
            - Inactive
            - Pending
            - null
        company:
          type:
            - string
            - "null"
        email:
          type:
            - string
            - "null"
        externalId:
          type:
            - string
            - "null"
        firstLastName:
          type:
            - string
            - "null"
        formW9Data:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/MemberClientFormW9Info"
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        orgSubAccountId:
          type:
            - string
            - "null"
    BulkClientBatch:
      type: object
      properties:
        bulkClientBatchId:
          type: string
        createdAt:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        memberId:
          type: string
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        statistics:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/757f4961b94334fd41cedc27262be7b14583377703cda6490b996969bd4e66c2
      required:
        - bulkClientBatchId
        - createdAt
        - eventActors
        - labels
        - memberId
        - status
        - updatedAt
        - userRoles
    BulkClientItem:
      type: object
      properties:
        bulkClientBatchId:
          type: string
        bulkClientItemId:
          type: string
        clientStatus:
          type: string
          enum:
            - Active
            - Inactive
            - Pending
        createdAt:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        memberId:
          type: string
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        company:
          type:
            - string
            - "null"
        email:
          type:
            - string
            - "null"
        externalId:
          type:
            - string
            - "null"
        firstLastName:
          type:
            - string
            - "null"
        integration:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/d750b2d9403b5bcbdb3c96c89f1cc713df563d587f16e5f39f5ab546c08a20a0
        memberClientId:
          type:
            - string
            - "null"
        memberData:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/MemberData"
        metadata:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/4091c2911630f24a45153ca60a204edf3efba15902cef686d412c191e0c18cac
      required:
        - bulkClientBatchId
        - bulkClientItemId
        - clientStatus
        - createdAt
        - eventActors
        - labels
        - memberId
        - status
        - updatedAt
        - userRoles
    BulkClientItemCreate:
      type: object
      properties:
        clientStatus:
          type:
            - string
            - "null"
          enum:
            - Active
            - Inactive
            - Pending
            - null
        company:
          type:
            - string
            - "null"
        email:
          type:
            - string
            - "null"
        externalId:
          type:
            - string
            - "null"
        firstLastName:
          type:
            - string
            - "null"
        integration:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/d750b2d9403b5bcbdb3c96c89f1cc713df563d587f16e5f39f5ab546c08a20a0
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        memberData:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/MemberData"
    BulkClientItemUpdate:
      type: object
      properties:
        clientStatus:
          type:
            - string
            - "null"
          enum:
            - Active
            - Inactive
            - Pending
            - null
        company:
          type:
            - string
            - "null"
        email:
          type:
            - string
            - "null"
        externalId:
          type:
            - string
            - "null"
        firstLastName:
          type:
            - string
            - "null"
        integration:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/d750b2d9403b5bcbdb3c96c89f1cc713df563d587f16e5f39f5ab546c08a20a0
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        memberData:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/MemberData"
    BulkCalculation1099Batch:
      type: object
      properties:
        bulkCalculation1099BatchId:
          type: string
        clientId:
          type: string
        createdAt:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        statistics:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/757f4961b94334fd41cedc27262be7b14583377703cda6490b996969bd4e66c2
      required:
        - bulkCalculation1099BatchId
        - clientId
        - createdAt
        - eventActors
        - labels
        - status
        - updatedAt
        - userRoles
    BulkCalculation1099Item:
      type: object
      properties:
        bulkCalculation1099BatchId:
          type: string
        bulkCalculation1099ItemId:
          type: string
        calculationType:
          type: string
          enum:
            - Balances
            - Submissions
        clientId:
          type: string
        createdAt:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        year:
          type: number
        metadata:
          oneOf:
            - type: "null"
            - $ref: >-
                #/components/schemas/865969bc2d9a3cb12c3263d4f941da6e1c7783024804b469db4a6eab9bc12f14
      required:
        - bulkCalculation1099BatchId
        - bulkCalculation1099ItemId
        - calculationType
        - clientId
        - createdAt
        - eventActors
        - labels
        - status
        - updatedAt
        - userRoles
        - year
    BulkCalculation1099ItemCreate:
      type: object
      properties:
        clientId:
          type: string
        year:
          type: number
        calculationType:
          type:
            - string
            - "null"
          enum:
            - Balances
            - Submissions
            - null
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
      required:
        - clientId
        - year
    BulkCalculation1099ItemUpdate:
      type: object
      properties:
        calculationType:
          type:
            - string
            - "null"
          enum:
            - Balances
            - Submissions
            - null
        clientId:
          type:
            - string
            - "null"
        labels:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/LabelsDictionary"
        year:
          type:
            - number
            - "null"
    CollaboratorV2:
      type: object
      properties:
        achCreditAccount:
          $ref: "#/components/schemas/MemberClientWireAccount"
        clientId:
          type: string
        collaborations:
          type: array
          items:
            $ref: "#/components/schemas/Collaboration"
        createdAt:
          type: string
        eventActors:
          $ref: >-
            #/components/schemas/87539cb97aa7616e350fc0d23c5a49177ea4c4a8bd00ec2a2cfd2a9a5c4e648a
        firstCollaborationId:
          type: string
        form1099Balances:
          $ref: >-
            #/components/schemas/b9789f45f8c8070ff38a64d80c2e4a8732ddaf329e46546474400d26f84c0f1c
        formW9Data:
          $ref: "#/components/schemas/CollaboratorV2FormW9Info"
        internationalWireAccount:
          $ref: "#/components/schemas/MemberClientWireAccount"
        labels:
          $ref: "#/components/schemas/LabelsDictionary"
        member:
          $ref: "#/components/schemas/RedactedMember"
        memberId:
          type: string
        primaryCollaborationId:
          type: string
        status:
          type: string
          enum:
            - Active
            - Inactive
            - Pending
        taxStatus:
          type: string
          enum:
            - Complete
            - Failed
            - Pending
            - Incomplete
        updatedAt:
          type: string
        userRoles:
          $ref: "#/components/schemas/UserRoles"
        clientData:
          oneOf:
            - type: "null"
            - $ref: "#/components/schemas/ClientData"
        memberData:
          oneOf:
            - type: "null"
[...]
